[2017-11-30 18:28] Miserlou opened #3 "Add Author Field"
The spec has no field for `author`. I think people should get credit for their work.

[2017-11-30 18:30] Miserlou opened #5 "Version Is Confusing"
You might not like this one, Andrew. :[

We should split `version` and `rack_version` into different fields. It is very [confusing](https://github.com/VCVRack/community/pull/2#issuecomment-348183418) and non-standard to have two different meanings jammed into a single string. It certainly isn't the intention of semantic versioning to do this, so calling it semantic might be another source of this

[2017-11-30 18:36] AndrewBelt commented on #5
Rack uses standard semantic versioning (well, after v1.0. pre-v1.0 is a modification).

Plugins don't use standard versioning, they use the standard defined in #266. Here's another way of stating it, pre-Rack v1.0:

Version: `vX.Y.Z`

Split these into
- Rack version: `vX.Y`
- Plugin version: `.Z`

[2017-11-30 18:36] #5 closed

[2017-11-30 18:40] Miserlou opened #6 "[Discussion] Build Box Architecture and Deployment"
We can use this thread to discuss how we want to built an automated test/build/delivery system for merged.

OSX and Linux builds shouldn't be any problem, but Windows builds might. I _think_ we can cross compile from Linux to Windows if we install the correct headers and stuff.

I suggest that we come up with a Docker image which can cross compile for all three platforms. That way, we can share th

[2017-11-30 18:41] AndrewBelt commented on #3
Hmm, I decided against this because authors can change hands, contributions can come from many people, and there can be companies involved. For example, if you look at most NPM packages, the "author" key typically holds the founder's name, but sometimes the founder is only responsible for 30% of the code.

I think the author is best portrayed by the "homepage" and "source" keys. If someone wants t

[2017-11-30 18:42] Miserlou commented on #5
So, can developers use semantic versioning? Ex, `vRX.RY.RZ.PX.PY.PZ`?

[2017-11-30 18:46] Miserlou opened #7 "[Discussion] Travis"
If we set up a little script and a `.travis.yml`, Travis could automatically check stupid stuff like JSON formatting and required fields all being in place.

[2017-11-30 18:46] AndrewBelt commented on #5
You can use whatever string you want after "vX." (after Rack v1.0).

I would discourage your proposed usage because it decouples the release cycle of Rack from the plugins. I believe that modules should not add new features after release, only bug fixes (i.e. get it right on the first release), but if they do, they should wait until a major version release of Rack.

[2017-11-30 18:47] AndrewBelt commented on #7
Go for it! I have no idea how to use Travis.

[2017-11-30 19:02] Miserlou opened #8 "[discussion] Downloads by Architecture"
Making everybody store and download versions for systems they don't use is going to be a waste of space and bandwidth for everybody, and requires that developers run a script or something to merge their zips. It's more sensible to split downloads into distinct architectures. I hope this ship hasn't sailed.

[2017-11-30 19:11] AndrewBelt commented on #8
This is such a trivial issue. But, here are the tradeoffs.

Merged zips:
- easier for developers to organize for musicians, no need to juggle three ZIP files
- less time for developers to update their manifests
- ensures that all resources are the same between architectures

Split zips:
- Saves 2*plugin size, uncompressed, which is typically ~100kb each.
- No need to run `zipmerge.sh AudibleInstru

[2017-11-30 19:32] AndrewBelt commented on #3
Decided on no, since the purpose of these JSON manifests serve one reason: to be displayed on the future vcvrack.com/manager (or whatever) website, and there's no room for an author field, just links to where we can find out information about the author. Just makes extra useless work for creating manifests.

[2017-12-02 04:07] jeremywen commented on #8
So I found that 16 of 37 have zips files that need to be merged.  Those devs could just edit their latest release and replace the zips with one merged zip.
 https://docs.google.com/spreadsheets/d/19EuENTzFQTlhYqIuCwJ_aZbEJ3RTIv3ZzqghNLK6p04/edit#gid=0

[2017-12-02 04:13] AndrewBelt commented on #8
Actually, thought of a use case for this. Two parties could be in charge of individual architectures. Of course it increases manifest complexity x3.

[code]

[2017-12-02 04:19] jeremywen commented on #8
Ya I was wondering the same thing.  This will help with the crowd sourced builds that I was talking about originally 😄 This will also help with the initial updates to get this thing going.  Then devs can decide which way works best for them.

[2017-12-02 04:25] AndrewBelt commented on #8
Feel free to switch the manifest files and README to my above schema. Otherwise I'll do it in 3-4 days.

[2017-12-02 04:28] jeremywen commented on #8
Ok got it.  This is better.

[2017-12-02 04:29] jeremywen commented on #8
And by got it, I mean I will do this.

[2017-12-02 05:03] jeremywen commented on #8
look good? https://github.com/VCVRack/community I will keep updating manifests...

[2017-12-02 05:06] AndrewBelt commented on #8
Looks great!

[2017-12-02 05:31] AndrewBelt commented on #8
Renamed "arch" to "download" because it makes a bit more sense.

[2017-12-02 05:34] jeremywen commented on #8
ok cool, will rename the ones I have fixed...

[2017-12-02 05:55] jeremywen commented on #8
um lol I guess I will split this into two manifests https://github.com/adbrant/ArableInstruments/releases

[2017-12-02 05:58] AndrewBelt commented on #8
Looks like it. Would definitely be two separate plugins.

[2017-12-02 17:03] jeremywen commented on #8
Instead of `downloads` with a `download` property, shouldn't we have downloads with a `url` property?

[2017-12-02 17:06] AndrewBelt commented on #8
Then we'd want the other keys to be "manualUrl" etc.

[2017-12-02 17:07] jeremywen commented on #8
haha ok nevermind

[2017-12-02 17:15] AndrewBelt commented on #8
I mean we could. They seem fine to me as is, but any other organization is fine as long as it makes sense and is eventually stable.

[2017-12-02 17:25] jeremywen commented on #8
I agree.  I will continue updating manifests...

[2017-12-04 11:56] #8 closed

[2017-12-04 21:17] jeremywen commented on #7
FYI I have been periodically running `jq '.' plugins/*` to make sure they are valid json.

[2017-12-04 21:17] jeremywen commented on #7
Not sure we need to overcomplicate this.

[2017-12-04 21:20] AndrewBelt commented on #7
Yeah IMO I don't like automated code quality stuff, especially for this project because I can glance at it in 0.2s and tell if it's valid JSON, so I wouldn't use it, but if @miserou wants it then it's fine.

[2017-12-04 21:28] jeremywen commented on #7
We use travisci and circleci at my real job.  They are fine but they are also very large projects with thousands of tests so it makes more sense.

[2017-12-04 21:30] jeremywen commented on #7
One of our projects can take about 2 hours to run tests LOL

[2017-12-14 09:04] AndrewBelt commented on #3
Just added some room to the plugin manager webpage, so we can have an author field now, woo!

[2017-12-19 13:29] #3 closed

[2017-12-19 14:36] AndrewBelt commented on #7
Reopening because it would be nice to

- check valid JSON
- check valid SHA256
- upload to VirusTotal and assert less than 3 or so engines return suspicious for each ZIP

 @Miserlou?

[2017-12-19 14:50] jeremywen commented on #7
I can do it if you don't want to or don't have time @Miserlou

[2017-12-19 15:03] AndrewBelt commented on #7
VirusTotal has a [public API](https://www.virustotal.com/en/documentation/public-api/v2/) and I believe we satisfy the ToS. I don't think a synchronous API is available since the scans may take over a minute, but you can submit a file, get a ticket code, and poll on the code until all scans are complete.

[2017-12-20 04:26] jeremywen commented on #7
This is now mostly implemented.  I am currently working on fixing my test on another branch.  I want to make sure I only scan zips if a download or sha256 value changes.  So this diff command is what I am fixing.  I am doing this because the zip scanning is time consuming and it is rate limited to 4 times in a minute.  So I only want to use virus total when we really need to.  So I will fix this t

[2017-12-20 13:42] AndrewBelt commented on #7
Additional assertions:

- ZIP must not contain a __MACOSX directory at root level.
- ZIP must not be a [tarbomb](https://en.wikipedia.org/wiki/Tar_(computing)#Tarbomb). Yes, I know the first is a subset of this one, but it's better to have more feedback.
- We might even want to assert that the single folder at root level is named as the slug of the plugin. I'm for this.

[2017-12-20 14:26] jeremywen commented on #7
Also, saw that linux->lin fix.  I will add schema validation.  I will rework the tests to handle all these checks.  At first I was going to just do some simple checks and fail on any error.  I will rewrite it to be more like real tests for all these things.

[2017-12-20 14:30] AndrewBelt commented on #7
I admit that I underestimated how sloppy people are.

[2017-12-22 13:43] trebmuh opened #77 "Mismatch in Grayscale"
https://github.com/VCVRack/community/blob/master/plugins/Grayscale.json says:
` "source": "https://github.com/VCVRack/Grayscale",` but it's not there anymore.

HTH

[2017-12-22 16:32] AndrewBelt commented on #77
Thanks, fixed

[2017-12-22 16:32] #77 closed

[2017-12-22 21:50] jeremywen commented on #7
done

[2017-12-22 21:50] #7 closed

[2017-12-22 22:24] naclander opened #80 "[Vult Modules] Source is Not Available"
The vult modules plugin here:
https://vcvrack.com/plugins.html

incorrectly has a link to the source of the vult modules. However, the author has removed the source:

https://github.com/modlfo/VultModules

Relevant section from readme:
[code]

Please remove the `source` link as its misleading.

[2017-12-22 22:27] AndrewBelt commented on #80
Okay, send a PR?

[2017-12-23 12:02] antoniograzioli opened #81 "Confused about slugs"
I am confused about slugs

in my Autodafe.cpp

[code]

should my manifest file reflect the SAME EXACT Slug? Without spaces?
In my Manifest I have something like "AutodafeDrumKit" at the moment...

[2017-12-23 14:33] AndrewBelt commented on #81
"Autodafe - Drum Kit" should be your slug forever and should match the manifest.

[2017-12-23 15:05] antoniograzioli commented on #81
ok, but:

So, no problems if I use spaces in the slug?

[2017-12-23 15:06] AndrewBelt commented on #81
Ideally, but most importantly it should not change.

[2017-12-23 15:27] antoniograzioli commented on #81
ok, so I have better change the slug in my plugins and not in the manifest

[2017-12-23 16:08] AndrewBelt commented on #81
No, the C++ slug is the one you should use. Change the manifest slug to match the C++.

[2017-12-23 16:15] antoniograzioli commented on #81
if I use slug "Autodafe - Drum Kit" , "make dist" doesn't work...it creates  different folder one for the "-", one for "Drum" and one for "Kit"..."Autodafe" folder is skipped...

I think I had better move to a "spaceless" slug...

[2017-12-23 17:40] AndrewBelt commented on #80
Fixed for you

[2017-12-23 17:40] #80 closed

[2017-12-23 23:38] AndrewBelt opened #86 "Admin announcements"
My goal for this repository is to achieve perfection of the plugin manifest JSON files for all known Rack plugins. Once achieved, the "red dot" on the Update Plugins button will go away for all platforms when all plugins are successfully downloaded to the users' computers.

This will involve cooperation from plugin developers, but they will not know what to do unless you tell them upon finding an

[2017-12-24 12:25] antoniograzioli commented on #81
I can confirm that spaces in the slug are not a good idea at all...

1) i had to put SLUG ="my plugin with spaces in its name" in double quotes in order to "make dist" work, but then:
2) when Rack downloads 'my plugin with spaces in its name.zip' it probably gets a 404 error and downloads only 229 KB (the 404 page, probably), zipped and the unzip process fails.

[2017-12-24 21:10] AndrewBelt commented on #81
Looks like you chose on changing the slugs. Probably better for the long run.

[2017-12-24 21:10] #81 closed

[2017-12-25 14:14] antoniograzioli commented on #81
yes, actually if a ZIP file contains spaces in it Rack is not able to download it. Hence the change

[2017-12-26 01:01] antoniograzioli opened #111 "upload new file - same filename: should I edit manifest"
I have just uploaded a new version of some plugs with small bugfixes.
VERSION is the same
filenamame and download URL are the same
I noticed that the SHA256 code remains the same is filename doesn't change

Should I edit the Manifest or should I simply replace the files on my server and that's it?

[2017-12-26 20:52] antoniotuzzi opened #114 "compressing ZIP file on OSX system: removing unneeded, unwanted folders"
this is not an ISSUE but more an ADVICE:

if you do development on OSX and at the end you compress the package for your plugin using the
right mouse button :

  **compress yourpluginpackage**

you can remove the unneeded items doing 2 commands on the the terminal:

1) TO REMOVE the **__MACOSX** dir do:

    **zip -d yourpluginpackage.zip __MACOSX/\***

2) TO DELETE ALL the **.DS_Store** files do:

[2017-12-26 21:02] jeremywen commented on #114
Done. https://github.com/jeremywen/JW-Modules/wiki/Dev-FAQ-for-VCV-Rack

[2017-12-28 17:44] martin-lueders commented on #111
Are you sure about the SHA256 thing? You might have fallen trap of the same mistake I did with he VirusTotal page, which keeps a cache of your files.

I found that they usually change. Isn't that the whole idea of that key, that it differs for each file?

I do update my manifest even if the filenames remain the same.

[2017-12-31 21:27] AndrewBelt commented on #86
I'm going to make this the Admin Announcements thread, so @jeremywen @matthewfriedrichs @Phal-anx should subscribe to it.

[2018-01-01 17:53] AndrewBelt commented on #86
I've been using the "Squash and Merge" button recently instead of simply merging pull requests. I like this method because it reduces commits to a single one, and it assigns your name in the commit listing https://github.com/VCVRack/community/commits/master, which is easier to read. Feel free to do so as well.

[2018-01-02 21:04] jeremywen commented on #114
I added this to my `.profile`

[code]

[2018-01-02 21:09] AndrewBelt commented on #114
Why are you using the ZIP compressor in MacOS? Why not just run `make dist`?

[2018-01-02 21:22] jeremywen commented on #114
I have to go to each OS and make builds copy them to dropbox and then copy them into the right folder then make the zip

[2018-01-02 21:23] AndrewBelt commented on #114
Ah, we need a zipmerge.sh utility.

[2018-01-02 21:27] jeremywen commented on #114
And with all this manual moving of files and switching computers right clicking to compress is easy

[2018-01-02 21:32] AndrewBelt commented on #114
Maybe I don't understand what your workflow is. You have to use all three computers anyway to make the build, so why is your method easier than producing three ZIPs on each computer, collecting them on one computer, and then uploading them to GitHub?

[2018-01-02 21:34] jeremywen commented on #114
well then there is only one nice zip url in the manifest and only one zip uploaded to github - less chance for error

[2018-01-02 21:37] AndrewBelt commented on #114
Okay, I see, you're using the old combined ZIP method. Using that is still fine if you wish, since I don't plan to remove support for it.

In that case, I propose someone writes a generic `zipmerge.sh` script to take the first N-1 arguments, unzip them, and then recombine them into a ZIP with last argument as the filename. Example:

    ./zipmerge.sh MyModule-0.5.0-*.zip MyModule-0.5.0.zip

[2018-01-02 21:40] jeremywen commented on #114
ok i will make that script

[2018-01-02 21:42] AndrewBelt commented on #114
Ah, wait, I realized how I could make it easily. I can do it if you want.

[2018-01-02 21:42] jeremywen commented on #114
do it 👍

[2018-01-02 22:11] AndrewBelt commented on #114
Here you go. I reversed the arguments from my initial post, so its usage is

[code]

https://gist.github.com/AndrewBelt/2c8fbe4ca24231a147e348391fa747d6

[2018-01-02 22:12] jeremywen commented on #114
ooh adding this to the dev faq - thanks!

[2018-01-09 15:39] Chaircrusher opened #170 "SUGGESTION: Standardized Git Labels/Branch usage"
I am not a module developer, but I am a software developer with nearly a decade's experience with git, so I feel qualified to comment.

I really appreciate the amazingly dynamic and rapid development on VCV rack.  But as you all know, it can be a little chaotic.

One of the issue I run into is this: How do I get the latest, best version of each module's source?

This isn't a straightforward questi

[2018-01-09 17:15] AndrewBelt commented on #170
I think the recommended method should be the one you first described:
- master branch holds latest code
- tag for each version
- branch only if there is an improvement on the latest release

As you demonstrated yourself, many people don't know git, so using branches overcomplicates things. If you want to write a script to automatically check out the latest tag, that would always work if everyone f

[2018-01-09 17:25] Chaircrusher commented on #170
No, #266 is roughly #255 in the Rack issues I haven't read.  What you're saying is that you've already considered this problem and come up with a valid solution. I was coming at it from the other direction: Observing the current situation of the modules available as source code.

The only thing I don't get is "branch only if there is an improvement on the latest release"

Since git branches are ar

[2018-01-09 17:37] AndrewBelt commented on #170
In my third bullet, I was only saying that branches are unnecessary unless you need to branch *from* the latest tagged release which is N commits behind HEAD. I wasn't restricting the use of branches. By all means, branch as much as you want in your plugins.

Rack does the same. Tag `v0.5.0` was improved with tag `v0.5.1`, but ABI-breaking improvements were already on the master branch, so I branc

[2018-01-10 07:10] matthewfriedrichs opened #173 "1/10/18 Plugins That Cause the Red Dot"
Bidoo, Bogaudio, dBiz, and Sonus Modular are all causing the Red Dot issue as of 1/10/18 on Windows. Can any one else confirm this?

[2018-01-10 07:16] AndrewBelt commented on #173
For each plugin,
1) Does it load or not?
2) Does it have versions compiled in? If so, does it match the JSON?

[2018-01-10 07:23] matthewfriedrichs commented on #173
Bidoo: Loads, versions do not match. DL = 0.5.15, .json = 0.5.16
Bogaudio: Loads, versions do not match, DL = 0.5.2, .json = 0.5.3
dBiz: Does not load, can not check version
Sonus Modular: Loads, versions do not match, DL = 0.5.0, .json = 0.5.1

[2018-01-10 07:24] AndrewBelt commented on #173
Cool! That information helps a ton actually. I should ask that in the future.

[2018-01-10 07:25] matthewfriedrichs commented on #173
Glad that I could help. I will also just post that information from now on. :)

[2018-01-10 07:34] Phal-anx commented on #173
Matthew didnt delete the plugins before updating. Just checked myself on windows (all plugins deleted and fresh install) no red dots for 3 of them.

Bidoo latest version to download is 0.5.16 (the same as in the json)
Bogaudio latest version to download is 0.5.3 (the same as in the json)
dBiz doesnt load - I can confirm (possible wrong SHA256)
Sonus Modular latest version to download 0.5.1 (the sa

[2018-01-10 07:34] AndrewBelt commented on #173
Okay, hold on. I just confirmed myself that Sonus Modular is compiled with the version 0.5.1. How are you getting incorrect information?

[2018-01-10 07:37] AndrewBelt commented on #173
Why is it not overwriting the old plugin.dll with the newly downloaded plugin.dll?? @matthewfriedrichs Can you investigate? `log.txt` etc

[2018-01-10 07:43] Phal-anx commented on #173
@AndrewBelt  this is the in my log file after trying to update an old plugin of mine to the latest version in the plugin manager... it gets downloaded but not unzipped and replaced

[info] Rack v0.5.1
[info] Current working directory: C:\Program Files\VCV\Rack
[info] Global directory: ./
[info] Local directory: C:\Users\Phal\Documents/Rack/
[info] Loading plugins from ./plugins
[info] Loaded plugi

[2018-01-10 07:45] AndrewBelt commented on #173
@Phal-anx Don't post your tokens. Printing GET URLs has been removed in `master`, but for the time being, this information needs to be private.

[2018-01-10 07:46] Phal-anx commented on #173
ahhh sry!!

[2018-01-10 07:46] matthewfriedrichs commented on #173
[warning] Failed to load library C:\Users\Matthew\Documents/Rack/plugins/dBiz.zip/plugin.dll: 126
The only issue in the log.

After deleting the folders and .zip files that were downloaded for the Bidoo, Bogaudio, and Sonus Modular, they did install correctly. Sorry about that. I will always be sure to delete both in the future before updating from Rack.

[2018-01-10 07:46] Phal-anx commented on #173
but it should actually override them or am I mistaken?

[2018-01-10 07:48] AndrewBelt commented on #173
Yes, it should. I haven't seen this problem before.

[2018-01-10 07:53] Phal-anx commented on #173
it never did it on my end... (windows 7)

[2018-01-10 07:56] matthewfriedrichs commented on #173
I don't know why, but only some files do not get overwritten. The others update just fine. I could not find anything off in log.txt. The ones that loaded still reported loading correctly.

[2018-01-10 07:56] AndrewBelt commented on #173
Okay, let's put this to rest for now. I've disabled the plugin manager until further notice.

[2018-01-10 07:57] Phal-anx commented on #173
okay,

[2018-01-10 07:58] matthewfriedrichs commented on #173
Understood.

[2018-01-10 08:02] Phal-anx commented on #173
maybe one last thing.. add a message on the plugin manager that it got disabled until further notice to avoid 100+ emails why it doesnt show download links (+Free buttons)

[2018-01-10 08:03] mdemanett commented on #173
Windows it will lock loaded .dlls (in a running process), which prevents deletion, or at least casual deletion.

[2018-01-10 08:06] AndrewBelt commented on #173
@Phal-anx Thanks, done.

@mdemanett Ah, thanks, that's it! My UNIX mind did not think of that.

[2018-01-10 08:11] matthewfriedrichs commented on #173
That makes sense. I did not think the .dll would be in use if none of the modules in the .dll were not loaded into the current patch.

[2018-01-14 16:41] cschol opened #180 "Fundamental plugin is missing "downloads" section"
Is there any specific reason `Fundamental` is missing the `downloads` section in the `.json` file?
It seems to be the only "core" VCV Rack plugin that does not provide a link to the binaries.

[2018-01-14 20:40] AndrewBelt commented on #180
Fundamental is included with Rack, so there is no need for a separate ZIP package.

[2018-01-14 20:40] #180 closed

[2018-01-21 20:19] squinkylabs opened #190 "How do you search for modules to download?"
From the plugin manager I can see a bunch of things, but to find out what they do it seems I need to click on the manual and read that. Is there an easier way to, for example, search for filters?

[2018-01-21 20:23] AndrewBelt commented on #190
That's how I'd recommend doing it. You can also click on the homepage or developer name if a hyperlink is available. Searching only filters by name of plugin and developer.

[2018-01-21 20:32] squinkylabs commented on #190
That's not going to scale too well, but I guess cross that bridge when you come to it. It sure would be nice if the plugin manager showed a one line description of the module!

[2018-01-21 20:40] AndrewBelt commented on #190
Note that a plugin contains multiple modules.

It is not the Plugin Manager's job to help you shop for modules, that's what the homepage will be for in the next version of the website. It will have boxes of featured products like [apple.com](https://www.apple.com/)'s homepage so you can ogle at the panel graphics instead of rely on reading text. The page will prefer polished plugins, so as you mig

[2018-01-21 20:46] squinkylabs commented on #190
That sounds like a perfect idea. thanks!

(and yes, I did notice that plugins have multiple modules - it's one of the (many) things that makes it look like developing plugins for VCVRack is easier (more fun) than other platforms. I remember it took me a day or something the get my VST plugins to do that.)

[2018-01-22 14:41] WIZARDISHUNGRY opened #193 "Downloads block in manifest should take into account processor architecture and word length"
A future where people want to run VCVRack on Windows 10 ARM devices and Raspberry Pi devices, isn't too far off. We should we using better platform descriptors for our prebuilt plugins. I propose:

As a first go, I propose slug name be:
[code]

eg  `Darwin-x86_64`

[2018-01-22 14:54] Phal-anx commented on #193
people tried to run Rack on Rasperry Pi and failed.. cpu isnt fast enough.. there is even an issue
https://github.com/VCVRack/Rack/issues/534

[2018-01-22 15:53] squinkylabs commented on #190
coincidence: I was using the free "Brackets" editor to browse the VCRack code base. Brackets plugin manager does in fact display a short description of each plugin.

[2018-01-22 16:22] AndrewBelt commented on #193
The arch names need to match the Rack distribution ARCH identifiers: `win`, `mac`, `lin` so far. If ARM is added, it'll probably be called `arm64` and `arm32`.

[2018-01-22 16:22] #193 closed

[2018-01-24 20:52] TyIsI commented on #6
Looking at other projects, this could even be done automatically through a CI implementation like Travis or perhaps even CircleCI.

[2018-01-24 21:05] AndrewBelt commented on #6
Anyone is free to volunteer...

[2018-01-24 21:05] Miserlou commented on #6
Yes, with a Docker-based infrastructure this could be done easily on CI, which is what I was considering. It's really just the issue of building Windows-compatible modules from a Linux container is the only thing from stopping this. See #509 above.

[2018-01-24 21:09] AndrewBelt commented on #6
And yes, I'll add build_author if it's a requirement for your time, although there's not enough space on the Plugin Manager webpage to list it. Signature is probably unnecessary since you could just host it from some official domain or GitHub project, which would be enough to validate your identity. (And we let random people build their own plugins anyway, so there are worse problems if security i

[2018-01-25 02:43] cschol opened #200 "Plugins where root folder does not match slug"
On Windows:

- [X] CastleRocktronics (folder: `CastleRocktronics-0.5.0`)
- [x] s-ol (folder: `solmods`)
- [ ] SonusModular (folder: `sonusmodular`)
- [x] StellareModular (folder: `Stellare-Modular`)
- [x] Valley Free (folder: `ValleyRackFree`)
- [ ] JE (folder: `VCVRack-plugin-JE-0.5.0-Win`)
- [ ] IO-Simple (folder: `VCVRack-Simple`)
- [X] Vult (folder: `VultModules`)

[2018-01-25 02:49] AndrewBelt commented on #200
Thanks, will come in handy.

Just brainstorming, perhaps once a centralized build system #6 is configured, it should be required to have source built by them for the open-source plugins. This would reduce malware, since a particular hash could be pulled from the GitHub repo.

[2018-01-25 02:54] cschol commented on #200
Yeah, you will need to keep the build system up with dependencies for all plugins. There is currently one (`PulsumQuadratum-rtlsdr`), which I can't get to build on Windows from source. Still trying to figure out if it is a source issue or just a missing dependency. For another one, `dBiz`, the checksum is failing also for Windows ([issue](https://github.com/dBiz/dBiz/issues/21).

[2018-01-25 03:22] cschol commented on #200
I am not sure what the CI build does currently, but it could do some sanity check on each plugin to enforce some more rules, e.g check SHA matches on binaries, verify root dir matches slug. This should work for all platforms.

[2018-01-30 01:29] JerrySievert opened #226 "Popularity"
clickthrough stats - any notice of popularity, or lack thereof, would be awesome.

[2018-01-30 01:31] AndrewBelt commented on #226
It's planned, I just need to make sure I can give out the information I'm giving out. At the mimimum, there will be rankings with popularity.

And it will be after the Plugin Manager opens for third-party plugins again, since right now it would only be able to list the commercial and VCV open-source plugins.

[2018-01-30 01:34] JerrySievert commented on #226
thanks - as an aside, I don't need to know about the numbers for other developers, mostly just wondering if the niche I'm hitting is successful (though it would be good to compare with friends like @almostEric, bet beer or the like)

[2018-02-06 04:41] AndrewBelt opened #243 ""modules" property"
This is a design proposal for adding a "modules" property with information about each module contained in a plugin.

[code]

A lot of things I don't like here.
- Redundancy with C++ code
	- The obvious solution is to include the manifest called `plugin.json` in the same folder/package as `plugin.{so,dylib,dll}`. But then how do we ensure that the same `plugin.json` file is used in the ZIP package

[2018-02-06 18:50] fbeecher commented on #243
I'm not a developer, so I can't comment on the technical stuff. But I am a UX designer, so I can help think through the flow a little bit.

I feel like there are a lot of similarities between the task of selecting modules in Rack and the task of selecting modules on Modulargrid. On MG, you have basically an infinite assortment to choose from and you can add any amount of a single module to your ra

[2018-02-06 23:57] splinetime commented on #243
Yes Please :) I feel like I'm in a storm of goodness trying to keep track of all the births and graduations :)

[2018-02-07 09:26] AndrewBelt opened #248 "VCV Community invitation"
This is an invitation for anyone who is interested to volunteer in curating, building, and organizing open-source Rack plugins for all Rack users.

Many people from very little to advanced C++ knowledge have asked how they can help the VCV project. This is a perfect opportunity for all to contribute. Volunteers may focus on one or multiple tasks required to keep the zoo of plugins up-to-date and w

[2018-02-07 09:39] AndrewBelt commented on #248
To get a bit more technical, here are the proposed roles for members. I'll keep this post updated as we add more guidelines.

## Library team

## Package team

## Security team

## Mentor team

[2018-02-07 10:00] AndrewBelt commented on #248
# Workflow

[2018-02-07 10:47] ZuluEchoRomeOscar commented on #248
Hereby volunteering as a builder on the Linux platform.

[2018-02-07 10:51] AndrewBelt commented on #248
Cool, keep posted for more information, and make sure you're subscribed on the sidebar. ----->

[2018-02-07 12:57] Phal-anx commented on #248
I will volunteer as a builder for windows.

[2018-02-07 12:59] danballance commented on #248
I am also keen to help here in any role that doesn't require pro C++ skills. (So building, packaging, admin etc). I am also on Linux only.

[2018-02-07 13:33] WIZARDISHUNGRY commented on #248
My threat model would be more along the lines of [the evil version of me compromising Strom or someone](http://variety.com/2015/digital/news/apple-removes-malware-infected-apps-from-the-app-store-1201598650/) by having him run `community-builds-from-source.sh` and then backdooring his plugin build.

I don't think we should be relying on the security and configuration integrity of a bunch of differ

[2018-02-07 13:55] AndrewBelt commented on #248
If you think it's that important, I can set up three build VMs myself (guys, this is supposed to take time *off* my hands) that will all have >50% uptime per day and will automatically build plugins with a certain status (e.g. "needs_package"). The role of the Build team will then be to test and approve those builds. I don't want to use the build servers as a CI or a "hey, let's see if this builds

[2018-02-07 13:57] WIZARDISHUNGRY commented on #248
I believe @dhemery has Appveyor and Travis producing build artifacts already.

[2018-02-07 14:01] AndrewBelt commented on #248
Okay honestly, trust in the Build team is not an issue with me. If you want to lead it, you can do whatever you want. I'll just require ID and professional reference for those in control of the computers producing the builds.

[2018-02-07 14:12] AndrewBelt commented on #248
Moving on to the next issue...

Regarding step 1 in the workflow above, I imagine the best method of notification is for plugin developers to open an issue at this repository. It should also be a task of the Library team to occassionally seek new plugins and updates themselves in case plugin developers don't notify us for some reason.

[2018-02-07 14:22] Strum commented on #248
count me in

a few other module developers and I are on freenode irc #VCVRack

we are already informally doing some of the things on the list.

there are python scripts floating around that can automate building multiple plugins.

[2018-02-07 14:30] Thihi commented on #248
I'm interested in providing OS X builds - but I only have my work laptop for a few more months. So I will probably have to drop out of the build team sometime later this year.

[2018-02-07 14:40] Strum commented on #248
so i guess we'll need a list of who's in and the make up of the various teams

[2018-02-07 14:42] Strum commented on #248
@AndrewBelt

"If you think it's that important, I can set up three build VMs myself (guys, this is supposed to take time off my hands) that will all have >50% uptime per day and will automatically build plugins with a certain status (e.g. "needs_package")."

I think you should delegate that to someone you trust, you've got too much on already.

[2018-02-07 14:59] AndrewBelt commented on #248
Updated team roles (my second post). I will be working on the Workflow section later. It is essentially a state machine or assembly line, to deligate small but important chunks of work to people skilled in that area. Teams won't need to know everything about how this detailed system works, just check or build a plugin and then set a status flag to pass on to the next team.

[2018-02-07 16:43] AndrewBelt commented on #248
I've created a "v2" branch of this repo. https://github.com/VCVRack/community/tree/v2
I'll be documenting the workflow in the viewpoint of each team in the README, making the process as simple as possible. For fun, you can try building all plugins in the `repo/` folder against the latest Rack master source. Don't actually change anything in that branch yet though.

[2018-02-07 17:17] djpeterso23662 commented on #248
@AndrewBelt when you have a minute and if you don't mind, would please comment on tasks/chunks of support time that you feel you need to get off your plate?  Your list will probably inform some of the workflow discussions.  Thanks!

[2018-02-07 17:30] AndrewBelt commented on #248
Not sure I understand exactly your question, but my goal is to not manage this repository at all, yet be sure it meets good quality standards. I'd like to still be informed of issues with plugins, but not by experiencing them directly with plugin developers, but instead by reading about them from Issues created by the volunteers.

[2018-02-07 18:01] djpeterso23662 commented on #248
Thanks, @AndrewBelt, that is helpful to understand.

[2018-02-07 18:24] dhemery commented on #248
I've got Linux building nicely on Travis CI and Windows building nicely on AppVeyor. Travis CI can also build Mac stuff, but I didn't bother with that because I have a lovely Mac right in front of me.

I have *not* tried to run either the Linux or Windows stuff built on those services.

Two days ago on Twitter, @TravisCI informed me that they are "hoping" to add Windows, but "It's not immediately

[2018-02-07 18:37] AndrewBelt commented on #248
IMO those CI services are an overcomplicated mess that don't actually solve any problems easier than if I set up my own build system from scratch. I'm confident I can reduce the entire job of the Package team to a single Makefile command, so there's no point in automating anything further. Builds need to be tested briefly, which CI services can't do.

[2018-02-08 14:03] cschol opened #251 "FrozenWasteland plugin v0.5.11 checksum mismatch"
Platform: Windows

From `vcv-plugindownloader` script:
[code]

[2018-02-08 14:16] cschol commented on #248
Sign me up for helping. Right now, limited to Windows for actual work, but I have enough Linux experience also.

[2018-02-08 14:33] WIZARDISHUNGRY commented on #251
Your checksum matches mine. @almostEric what's up?

cf #511

[2018-02-08 14:33] cschol commented on #248
A few questions:
- Does this process cover open source **and** commercial plugins?
- Are there any licensing issues to be considered in the reviews? I am talking specifically software licenses.
- What about Intellectual Property considerations?

[2018-02-08 14:39] WIZARDISHUNGRY commented on #248
@cschol: from VCVRack/Rack#686

Andrew will take responsibility for verifying authors of commercial plugins, it seems.

[2018-02-08 14:42] AndrewBelt commented on #248
1. Just open-source plugins. I handle commercial plugins. Commercial plugins that aren't distributed through the Plugin Manager can still be listed, but no automatic downloads will be provided. Users will have to go to the vendors' websites and downloads and unzip the packages on their own.
2. I don't think so, can you think of any?
3. Same as (2)

[2018-02-09 01:24] cschol commented on #248
2. Just wondering about implications of `GPL` code used in plugins. Are there any recommendations that should be made to developers of plugins? The `AudibleInstruments` repo has comments at the end of the repo that say "GPL, will not port", other 3rd party (free) plugins are licenses as `GPL` (e.g. Stellare-Modular Link). If there are licensing considerations from Rack's point of view, they need t

[2018-02-09 01:36] WIZARDISHUNGRY commented on #248
@cschol re: 2

[FSF opinions](https://www.gnu.org/licenses/gpl-faq.en.html): Linking non-free code against GPL'd code without a linking exception for plugins is a GPL violation. The revised BSD license that Rack has is compatible with linking GPL code; we're ok to include GPL code in our plugins.

There may be some ambiguity around this topic were someone to distribute a commercial fork of Rack as

[2018-02-09 03:33] cschol commented on #251
I think a scheduled Travis run is best suited for this. I pull the plugins daily and my `vcv-plugindownloader` script spits out a summary at the end with errors (checksum mismatch, failed to compile, etc.) and warnings (slug does not match root folder). I am not sure how else you would do it since you don't have control over the location of the plugins.

[2018-02-09 03:34] cschol commented on #251
Issue fixed with #252.

[2018-02-09 03:34] #251 closed

[2018-02-09 04:29] cschol opened #253 "Checksum verification fails: dBiz v0.5.2"
@dBiz Can you please check into the following [issue](https://github.com/dBiz/dBiz/issues/21) I filed a while ago. The checksum of the `dBiz` plugin still fails on Windows.

@AndrewBelt @Phal-anx Maybe we should remove that particular version of the Windows build from the manifest until it is fixed? Linux and MacOS are checking out fine.

[2018-02-09 04:56] AndrewBelt commented on #248
@cschol Oh, I see what you were asking now.

GPL plugins are fine. I've actually asked FSF about this (i.e. if GPL code being loaded by BSD application while commercial plugins are loaded is a GPL violation, assuming all are distributed separately) multiple times and they either don't answer the core question or don't understand it. But I *think* this is totally fine, since the question of *who* v

[2018-02-09 04:58] AndrewBelt commented on #253
Removed in 39c3807

[2018-02-09 04:58] #253 closed

[2018-02-10 02:39] cschol opened #255 "av500 plugin uses -fshort-enums and crashes Rack"
`av500` uses `-fshort-enums` in the Makefile, which crashes Rack when using the search field for modules.

Issue reported [here](https://github.com/av500/vcvrackplugins_av500/issues/12) around 20 days ago.

Recommend removing from manifest until Makefile is updated.

[2018-02-10 03:43] WIZARDISHUNGRY commented on #255
If we were going to put a general sort of linter in the community repo, this would be a good first step.

[2018-02-10 04:52] cschol commented on #248
2. Yeah, I was specifically wondering about the mix of commercial and GPL plugins. Your reasoning makes sense to me.

  3. Also makes sense.

[2018-02-10 07:52] AndrewBelt commented on #255
I would remove just the av500 "downloads" property, but since it already doesn't exist, there is nothing to do here.

[2018-02-10 07:52] #255 closed

[2018-02-10 10:10] AndrewBelt commented on #248
Here's the plan for Rack 0.6, which is scheduled for "late February" which might be the 28th or a couple days later.

We need a Repair team first, in order to make PRs and open issues about incompatibilities in the new API. See https://github.com/VCVRack/Rack/issues/258#issuecomment-346222777
Would anyone be interesting in joining the team, and would anyone be interested in leading? The goal of th

[2018-02-10 14:03] KieranPringle commented on #200
PR opened here: https://github.com/VCVRack/community/pull/256

[2018-02-10 14:11] AndrewBelt commented on #200
@cschol Thanks! Do you want to be on the review team?

[2018-02-10 15:23] cschol commented on #200
@AndrewBelt Sure. Wherever you need help.

[2018-02-10 15:41] WIZARDISHUNGRY commented on #200
@cschol PulsumQuadratum-rtlsdr not building is because the dependencies aren't packaged as submodules yet - WIZARDISHUNGRY/vcvrack-rtlsdr#31

[2018-02-10 18:04] cschol commented on #248
I'm in for the **R**ack **P**lugin **R**epair **T**ask **F**orce (#RPRTF). :)

[2018-02-11 06:52] Strum commented on #248
@AndrewBelt, I'd help out with that as well if needed.

[2018-02-11 19:38] AScustomWorks opened #257 "Different sets of modules/same developer naming conventions"
As far as I understand the quick way is to just use a different slug for every set, for example:

     Tom&GerryTools, Tom&GerryOSC, Tom&GerryFX etc.

But this approach is cluttering the module developers list menu already, not important when typing a search but a bit annoying when looking into developers list.

I noticed if we keep the same name slug at compile time, then manually change the name

[2018-02-11 19:43] AndrewBelt commented on #257
It's recommended to use the `CompanyName-PluginName` pattern for slugs. https://vcvrack.com/manual/PluginDevelopmentTutorial.html under Naming.

I don't know if I'd call more plugins "clutter", it's just what happens with a popular platform, along with a database that attempts to collect every plugin.

I have no idea what you're talking about with changing the "name of the dist folder"

Also, who

[2018-02-11 19:54] AScustomWorks commented on #257
1.- Right about the "clutter", I guess I need to get rid of MY clutter hehe

2. -About changing the folder name, I made that to be able to test a new set of modules without changing the slug and without removing my old set (at testing stage, I know, lazy!) that's how I found out both sets appear under my name, and this prompted the question as it would be a way to keep things tidy. But I'll adhere

[2018-02-11 19:59] AndrewBelt commented on #257
1. You only have one entry "AS". What do you mean?
2. So you want to have a plugin "AS", as well as a plugin "AS-testing" or something in Rack at the same time? Simple answer: change the slug in the Makefile, `make clean`, `make dist`
3. I see. Only alphanumeric plus `-_` are allowed in slugs. They will begin to be hard requirements later.

[2018-02-11 20:51] WIZARDISHUNGRY commented on #257
1. Yes, slug should be globally unique. I don't believe the slug is exposed to end users.
2. The first string argument to [createModel](https://github.com/VCVRack/Template/blob/v0.5/src/Template.cpp#L19) is the manufacturer name that shows up as a top level heading in the browser. Multiple plugins from a single vendor can use the same value to ensure all their plugins are under the same top level

[2018-02-11 21:32] AScustomWorks commented on #257
Hi Jon, and yes, that's what I was aiming for but didn't explain correctly, thanks a lot!.

I'll leave an example as a guide, please correct me if something is wrong with this approach (tested already and is working as expected):

Same dev slugs:
SLUG = XYZ (first module set )
SLUG = XYZ-SET-2 (second module set)
That's for each module set, and it gives 2 separate plugins to install.

Then, to kee

[2018-02-11 21:53] WIZARDISHUNGRY commented on #257
I'd consider putting the set name in the model createModel call: "XYZ", "[SET-2] FunkyVCO".

[2018-02-11 23:20] squinkylabs commented on #86
Squash and merge is the best. I use it in my repo, too.

[2018-02-11 23:21] squinkylabs opened #258 "dumb q: name of file"
If I use the "create new file" method to make a PR, rather than forking, do I create "myslug.json", or "plugins/myslug.json".

tx.

[2018-02-11 23:34] AndrewBelt commented on #258
If you're in the `plugins/` folder, click Create New File and just type the slugname.json.

[2018-02-12 20:29] Atavic commented on #248
I am available if needed, particularly point 3 auditing and testing. I have a golden ear!

[2018-02-13 17:51] #258 closed

[2018-02-13 20:09] Skeyelab opened #266 "Feature Req: Release date"
Is it possible to get a column added to the table that represents release date?

[2018-02-13 20:15] WIZARDISHUNGRY commented on #266
Might be worth putting the release date of the latest Rack on the vcvrack.com homepage too.

[2018-02-13 20:17] AndrewBelt commented on #266
The only way this would work is if the Build team in #248 (using scripts that automatically modify the JSON) adds a timestamp (UNIX time) to each build in the JSON. The manifest format will undergo large changes when the teams begin working, so we can design this in.

[2018-02-13 20:26] Skeyelab commented on #266
Thanks.  This would be helpful to me, as I went thru and downloaded a ton of plugins, but would like to see whats new/updated w/o having to crosscheck.

[2018-02-14 16:34] AndrewBelt opened #269 "Repair team"
The Repair team is the first VCV Community team to launch. The goal is simple: For each open-source plugin in the [Plugin Manager](https://vcvrack.com/plugins.html), help the developer by sending a pull request that makes it build against the latest `master` branch of Rack. If you are not quite familiar with GitHub and git, the procedure is the following.

- Make sure to `git checkout master` and

[2018-02-14 16:41] AndrewBelt commented on #248
As of now, the Rack 0.6 API is stable. So the Repair Team has been launched with details at https://github.com/VCVRack/community/issues/269! We have 2-3 weeks until Rack 0.6 is launched, so it would be fantastic if we could use most of our plugins on the new version with VST/AU Bridge support, redesigned Audio Interface, etc.

[2018-02-14 16:44] AndrewBelt commented on #248
I'm going to try using the new GitHub Team feature, so bear with me. I've never tried it.

[2018-02-15 02:37] cschol commented on #269
This post contains the list of all **open source** plugins in the [community](https://github.com/VCVRack/community) repository that need to be validated against the `v0.6` API.

If you are interested in helping per @AndrewBelt's instructions above, please

1. place a check mark below by the module that you are working on, so other developers know that it is being taken care of.
2. reference *this*

[2018-02-15 02:42] dhemery commented on #269
I develop DHE-Modules, and have completed the conversion myself.

[2018-02-15 02:43] phdsg commented on #269
PvC: trying to do it myself.

[2018-02-15 02:52] phdsg commented on #269
btw: what's "downloads" on that list (below DHE-Modules)?

[2018-02-15 02:55] cschol commented on #269
@phdsg Oops. That was an artifact of how I generated the list. Removed. Thanks.

[2018-02-15 02:59] AndrewBelt commented on #269
Looks great, I'm working on mine.
People can't check your own checkmarks, they'll just have to post here.

[2018-02-15 03:00] cschol commented on #269
@AndrewBelt Crap, I was hoping they could. I'll keep the list up to date from people posting here below.

[2018-02-15 03:27] WIZARDISHUNGRY commented on #269
PulsumQuadratum-rtlsdr: I'm doing it myself. (It also needs to have its dependencies built as git submodules before it will build without special instructions)

[2018-02-15 05:15] Strum commented on #269
@cschol

I'll do mine myself, and can help with others if you need it.

[2018-02-15 13:51] cschol commented on #269
@Strum Thank you. Which ones are your's again?

[2018-02-15 17:20] AndrewBelt commented on #269
Added one additional instruction to make sure that your Makefiles are up-to-date and follow the [Template Makefile](https://github.com/VCVRack/Template/blob/v0.5/Makefile) or the [Fundamental Makefile](https://github.com/VCVRack/Fundamental/blob/master/Makefile).

[2018-02-15 20:26] phdsg commented on #269
@cschol strum does the mental pack :)

[2018-02-16 04:42] Strum commented on #269
@phdsg thanks.

[2018-02-18 04:06] nerdbeere23 opened #273 "error "could not find plugin""
Hi.
I'm trying to open some patches and getting the message "could not find plugin ...".
"mscHACK or "ML_Modules" for instance, but these are installed and i'm able to see and open the modules.

any idea what could be wrong.
I'm on Windows 7_64

Thanks
Rico

[2018-02-18 04:09] AndrewBelt commented on #273
Looks like plugin developers are being careless with the capitalization of their slugs. Mind complaining on those plugins' GitHub issues?

[2018-02-18 08:50] luckyxxl commented on #269
@cschol fixed mine just now

[2018-02-18 18:59] mdemanett commented on #269
Bogaudio is up to date.  Cheers.

[2018-02-18 21:27] djpeterso23662 commented on #269
I will take care of MrLumps.  Thanks!

[2018-02-19 03:35] alikins commented on #269
I have converted my plugin ('Alikins') to the 0.6 API in it's master branch.

[2018-02-19 05:41] alikins commented on #269
Pr for mtsch at https://github.com/mtsch/mtsch-vcvrack-plugins/pull/5

[2018-02-19 08:06] dllmusic commented on #269
I will update moDllz... just waiting to see how the MIDI is implemented

[2018-02-19 09:17] cfoulc commented on #269
cf - working on mine, may need some help at some point, will ask here and/or there

[2018-02-19 12:29] gbrandt1 commented on #269
i'll work on mine (Southpole) - the update will depend somewhat on the various MI / Parasites repos i copied from

[2018-02-19 12:41] jhoar commented on #269
I've done AmalgamatedHarmonics.

[2018-02-19 12:45] gbrandt1 commented on #243
screenshots could be in further subdirectories for each manufacturer in the repo itself

[2018-02-19 14:49] cschol commented on #269
Thank you for the PR @alikins!

[2018-02-19 18:23] AScustomWorks commented on #269
I'll work on mine

[2018-02-19 22:52] DomiKamu commented on #269
Hi, can't "make" Rack, having a compile error:

DoM@HAL-9000 MINGW64 /C/Rack060/Rack
$ make
g++ -Wsuggest-override -std=c++11 -Iinclude -Idep/include -Idep/lib/libzip/include -DVERSION=0.6.0dev -MMD -g -O3 -march=nocona -ffast-math -fno-finite-math-only -Wall -Wextra -Wno-unused-parameter -DARCH_WIN -D_USE_MATH_DEFINES -c -o build/src/asset.cpp.o src/asset.cpp
g++ -Wsuggest-override -std=c++11 -Ii

[2018-02-20 08:31] antoniotuzzi commented on #269
yesterday I did my first attempt to full recompile RACK + FUNDAMENTAL using the CLI (master)
and was successful. After I've restarted my XCode project, updating with all the new changes, but I'm unable to have a full binary at the end: I have 91 LINKER errors
did we change compiler ? Or I'm missing a lib to link ? (a new one?)

maybe you know what's happening:
[code]

[2018-02-20 08:34] AndrewBelt commented on #269
@antoniograzioli Open an issue in the Rack repo for questions about compiling your plugin.

[2018-02-20 08:37] antoniograzioli commented on #269
I am updating my plugins, started a couple of days ago, I will (hopefully) finish them tonight. Bear with me I am quite busy and there alre quite a lot of changes to be done ;-) also, my https://github.com/antoniograzioli/Autodafe repository is a complete mess, and needs to be erased completely...

[2018-02-20 13:31] Strum commented on #269
ok mental modules are done, the new code is on the 06dev branch.

[2018-02-20 14:59] WIZARDISHUNGRY commented on #269
Is AudibleInstruments building for people? I.e. should it be unchecked?

[2018-02-20 15:38] cschol commented on #269
@WIZARDISHUNGRY "Checked" means "somebody is working on it" (in this case @AndrewBelt). Once plugins are confirmed to be building against `v0.6` (or if the developer wants to update the plugin themselves), I'll cross them off the list.

[2018-02-20 20:28] DomiKamu commented on #269
Ohmer Modules successfully updated for VCV Rack 0.6.0dev
Source available [as pre-release](https://github.com/DomiKamu/Ohmer-Modules/releases/tag/v0.6.0dev)

[2018-02-20 20:52] DomiKamu commented on #269
Ohmer Module can compile against 0.6.0dev without error/warning, but Git fork and Co. hum... is like Chinese language for me!

I don't want to touch my current release (0.5.3) on my repo, I've created a Pre-release" [here](https://github.com/DomiKamu/Ohmer-Modules/releases)

[2018-02-20 21:13] AndrewBelt commented on #269
@cschol Could you post the checked/strikeout note in your main post?

[2018-02-20 23:13] antoniograzioli commented on #269
Done upgrading my plugins at least on MAC (phewwwww)
Tomorrow morning I will (hopefully) compile everything for Windows and Linux.
getting ready for 0.6 :-)

[2018-02-21 00:08] Strum commented on #269
@antoniograzioli

well done.

[2018-02-21 04:46] alikins commented on #269
If someone wants to take a crack at 'dekstop' plugin, https://github.com/dekstop/vcvrackplugins_dekstop/pull/17 has a incomplete pass at it.
Not sure how to handle the templates in dekstop/src/Recorder.cpp correctly...

[2018-02-21 05:12] cschol commented on #269
@alikins Thank for the PR! Sent you a supplemental PR to that `port_to_v0.6` branch to finalize the `dekstop` plugin conversion.

[2018-02-21 06:31] DomiKamu commented on #269
Hi, as I've indicated yesterday, unfortunately the "fork" story isn't clear in my mind.
However, source code against v0.6.0 is placed in new branch (060dev):
https://github.com/DomiKamu/Ohmer-Modules/tree/060dev

If somebody can explain clearly what I must doing, be sure it will be appreciated, thanks in advance.

[2018-02-21 07:40] phdsg commented on #269
@DomiKamu looks like you posted your reply to the wrong issue.
github makes it look i referenced or replied to your question, but i was actually asking qwelk :)

[2018-02-21 19:02] dizzisound commented on #269
PR sent for RODENTMODULES #https://github.com/RODENTCAT/RODENTMODULES/pull/3

[2018-02-21 22:47] cschol commented on #269
@DomiKamu If you have updated your plugins yourself you don't need to worry about the "fork" part. Once Rack `v0.6` is released, you can merge your `060dev` branch into `master` and release the new version.  "Forks" are only required if **someone else** was going to update **your** plugin and wants to send you a Pull Request with the changes.

[2018-02-22 03:20] cschol commented on #269
I have decided to change the plugin list format a little bit, see the updated notes in the post above.

The plugin API conversion is progressing nicely with developers making changes as well as PRs being created. As PRs are merged and developers are done making their own changes, the next step is to start building the available source code on all supported platforms to flush out any potential cros

[2018-02-22 04:17] AScustomWorks commented on #269
I finished the update to AS modules(tested on Mac), but branches and tags are still too confusing for me. If someone wants to guide me thru it I'll do it, otherwise I'll wait, thanks.

[2018-02-22 04:28] cschol commented on #269
@AScustomWorks Are your changes committed?

[2018-02-22 04:44] DomiKamu commented on #269
@AScustomWorks: be sure you're not alone, branches looks like folders, by this way you've separate your sources files across different versions. Your main, mostly visible, is "master" branch (except if you'll specify explicitly the branch in URL)

A GitHub tuto here, but long IMO (1h44!): https://www.youtube.com/watch?v=xuB1Id2Wxak
and I don't know if branches are explained or not.

I agree, GitHu

[2018-02-22 06:52] alikins commented on #269
I've built my plugin ('Alikins') for v0.6 on lin/mac/win and tested on linux and mac.

[2018-02-22 06:59] AScustomWorks commented on #269
@cschol not yet

[2018-02-22 11:02] Coirt commented on #269
Does `struct Display : TransparentWidget {` still work for 0.6.0dev as it is in 0.5.x is there any changes other than what is listed in [#258](https://github.com/VCVRack/Rack/issues/258#issuecomment-365657954)

Forking a single module project to make it less complicated for my own modules.

[2018-02-22 11:06] AndrewBelt commented on #269
@Coirt  This repo is not for Rack questions. Open an issue in the Rack repo.

[2018-02-22 11:08] Coirt commented on #269
Its not a rack question its a repair question!

[2018-02-22 11:14] Coirt commented on #269
Simple answer Andrew! Do I really need to ask a question in rack repo when its a yes or no answer related to porting a module and other modules to 0.6dev.

[2018-02-22 11:17] AndrewBelt commented on #269
Yes, because I have no idea what you were asking so opening a proper issues allows you to clarify, and it dealt with source code of Rack rather than community discussion.

[2018-02-22 11:23] Coirt commented on #269
Obviously you made up your mind before reading the question. Its not an issue, its a question for discussion with others who have been porting code all week.

[2018-02-22 11:23] AndrewBelt commented on #269
Please paraphrase and repost.

[2018-02-22 11:25] Coirt commented on #269
Will `struct Display : TransparentWidget {` still work as it does in v0.5.x in v0.6.0dev

[2018-02-22 11:31] AndrewBelt commented on #269
Come on man, this is a Rack question, not a community question.

Yes, I guess it will still work? Why wouldn't it? Why are you asking it? Obviously, it won't compile alone as a .cpp file, so you're implying some context around it which might be important. Did you try answering it yourself? What were the results?

[2018-02-22 12:23] phdsg commented on #269
@cschol i started checking the **bold** entries on linux: all compiling and loading fine so far.
just a few deprecated warnings for AH, ML and hetrick.

[2018-02-22 13:47] cschol commented on #269
@phdsg Thank you for testing and the PR.

[2018-02-22 14:18] phdsg commented on #269
s-ol is good too.
should i rather edit this or the previous post with future updates?

[2018-02-22 14:35] cschol commented on #269
@phdsg You can edit the post if you are planning on keeping on testing on Linux. I'll check your post.

[2018-02-22 15:25] DomiKamu commented on #269
Something is strange, have:
cd /C/Rack060/Rack/plugins
git clone https://github.com/VCVRack/AudibleInstruments.git
cd AudibleInstruments
git submodule update --init --recursive

but during make, having errors. TXT log attached (your convention with backtides are a pain for non-English/US keyboard owner).

[Log-AudibleInstruments.txt](https://github.com/VCVRack/community/files/1748449/Log-AudibleIn

[2018-02-22 15:33] phdsg commented on #269
@DomiKamu because andrew hasn't pushed 0.6 changes for this repo yet.

[2018-02-22 15:39] DomiKamu commented on #269
Ok, I'm stucked by this way.

[2018-02-22 15:49] cschol commented on #269
Checked just means somebody did work or signed up for doing work. If the module is bold and the clone URL is available, the source code is publicly available and the module is ready to be tested on all platforms. I'll clarify in the post above later today.

[2018-02-23 11:03] sebastien-bouffier commented on #269
Hello, I am developing bidoo plugins and I started the upgrade to 0.6. I target to push my code to github this week-end. I think it should be ok on Win and Lin but I expect some issues on OS X since my last release doesn't work on all OS X versions. Best.

[2018-02-24 00:15] Klangspagat opened #296 "Future Request favorite list for plugins"
Could it be possible to add an favorite list for plugins instead of searching everytime thru the whole list to find the right plugin?
Greetings

[2018-02-24 00:16] AndrewBelt commented on #296
Rack feature requests go in this repo. https://github.com/VCVRack/Rack
Duplicate of https://github.com/VCVRack/Rack/issues/452

[2018-02-24 00:16] #296 closed

[2018-02-24 00:17] phdsg commented on #296
wow your fast @AndrewBelt
https://github.com/VCVRack/Rack/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+favorite

[2018-02-24 15:59] The-XOR commented on #269
0.6 is already available in the osc branch; will merge in the master branch soon

[2018-02-24 17:00] cschol opened #299 "'text' is not a member of 'rack::MenuEntry' error"
After the latest pull this morning all publicly available `v0.6` versions of plugins compile fine, except `hetrickcv` (@mhetrick).

[code]

[BlankPanel.cpp](https://github.com/mhetrick/hetrickcv/blob/master/src/BlankPanel.cpp) source for reference.

@AndrewBelt Is this an update to the API and/or should this code be implemented some other way?

[2018-02-24 17:02] AndrewBelt commented on #299
Oh yes, `MenuEntry` should be replaced with `MenuLabel`

[2018-02-24 17:20] cschol commented on #299
[PR](https://github.com/mhetrick/hetrickcv/pull/13) to fix `hetrickcv`.

[2018-02-24 18:47] cschol commented on #299
Some more instances of open Repair Team PRs needed updates for this. I am going through and amend those.

[2018-02-24 18:53] phdsg commented on #299
i think the ones i requested still work. will go through again tho.

[2018-02-24 23:59] cschol commented on #299
PR was merged. I am closing this and we will be on the lookout for more instances as they come up.

[2018-02-24 23:59] #299 closed

[2018-02-26 00:07] AndrewBelt commented on #269
Fundamental, Befaco, ESeries, and AudibleInstruments are updated to 0.6

[2018-02-26 00:56] DomiKamu commented on #269
Audible don't work, modules are displayed in menu, but no GUI for every (aka "ghost" modules).

[2018-02-26 01:04] AndrewBelt commented on #269
Pull latest code?

[2018-02-26 01:11] DomiKamu commented on #269
Supposing yes.
Starting from clean directory, git clone (master), Rack successfully compiled
then Audible Instruments (git clone, too).

[2018-02-26 01:14] cschol commented on #269
@AndrewBelt The latest code works fine on Windows. @DomiKamu You are not using the latest sources with the panel fixes: [f777f627](https://github.com/VCVRack/AudibleInstruments/commit/f777f62732b740abb29eac1cde479171747fcae7)

[2018-02-26 02:23] DomiKamu commented on #269
Lastest panels aren't in master branch?
Also, restarted from scratch (after deletion of plugins/AudibleInstruments)
cd plugins
git clone https://github.com/VCVRack/AudibleInstruments.git
cd AudibleInstruments
git submodule update --init --recursive
make

Now, it can't compile!
Where I'm wrong?
Also having many "warnings" while compiling (prior error) - is it normal, or not?
If necessary, I'll can

[2018-02-26 02:25] AndrewBelt commented on #269
This issue is for community/management discussions only. Open an issue in the respective repo for issues about that repo.

[2018-02-26 02:26] AndrewBelt commented on #269
Not that it matters now, but I've ported Grayscale, PulseMatrix, and Console, and builds will be available upon the 0.6 release.

[2018-02-26 02:31] DomiKamu commented on #269
Issue opened: https://github.com/VCVRack/AudibleInstruments/issues/44

[2018-02-26 10:27] The-XOR commented on #269
v 0.6.0 now on master branch

[2018-02-26 16:48] AScustomWorks commented on #269
v 0.6.0 ready on master branch: [AS](https://github.com/AScustomWorks/AS)

[2018-02-26 18:17] DomiKamu commented on #269
Ohmer Modules v0.6.0.2-beta - against lastest Rack 0.6, is available on [060dev branch](https://github.com/DomiKamu/Ohmer-Modules/tree/v0.6.0.2-beta), for validation.

[2018-02-27 21:30] dllmusic opened #304 "Feature Request : add TAGs"
If possible, I would like to have these tags added to tags.hpp...
ARPEGGIATOR_TAG
PORTAMENTO _TAG (I know there's a SLEW_LIMITER one but portamento is more common..)
Thanks.

[2018-02-27 22:37] dllmusic commented on #304
got it. moving it. thanks

[2018-02-27 22:37] #304 closed

[2018-02-28 13:50] sebastien-bouffier commented on #269
bidoo's pack is ready for v 0.6.0 on [master](https://github.com/sebastien-bouffier/Bidoo)

[2018-03-01 03:06] Strum commented on #269
Great work everyone.

I think that we've worked together so well on this is both a vindication of Andrew's trust in the user community and confirmation of what a cool bunch of people are involved in the project.

Thanks everyone involved.

[2018-03-04 03:09] cschol commented on #269
As of today (March 3rd), all open-source community plugins are in one the following categories:

- Upgrade to `v0.6` completed and tested on supported platforms (Lin, Mac, Win)
- Upgrade in progress by plugin developer
- PR for upgrade to `v0.6` was provided to developer, not merged yet

The Plugin Repair team will continue to monitor status of upgraded plugins and test on all supported platforms.

[2018-03-04 10:28] The-XOR commented on #269
makefiles updated as requested

[2018-03-05 00:10] fbeecher commented on #243
@AndrewBelt It looks like you're starting to implement this. I'm a UX designer, but not a visual designer. Would it be helpful if I put together a prototype? It'll be black, white, and gray, but the interactions will be solid.

[2018-03-05 02:32] AndrewBelt commented on #243
I have a deadline to meet, so any changes will need to be wrapped up in ~4 hours of effort. But you're welcome to send some ideas. Keep in mind that I already have a graphic designer, but I won't say no.

[2018-03-05 04:48] fbeecher commented on #243
Alright. Probably can't be useful on this one then. Let me know if you need help working out interaction ideas in the future. Happy to collab with your graphic designer.

[2018-03-06 14:42] davephillips commented on #269
Aepelzens Modules build and run on Fedora 23 Linux with latest Rack master git pull.

[2018-03-06 19:18] cschol commented on #269
@davephillips Thank you! Just be aware of this [issue](https://github.com/Aepelzen/AepelzensModules/issues/12). Rack `v0.6` will not ship with `libsamplerate` anymore and you either need to update the code or ship `libsamplerate` yourself.

[2018-03-07 18:46] davephillips commented on #269
Aepelzens Parasites also built and run on latest Rack master, on Fedora 23 Linux.

[2018-03-09 00:09] dllmusic commented on #269
moDllz updated to 0.6 on
https://github.com/dllmusic/VCV_moDllz/tree/master-0.6.0dev
Mac built ... need help with win and Linux. Thanks

[2018-03-09 01:54] cschol commented on #269
@dllmusic Windows and Linux built fine. Thank you!

[2018-03-09 05:14] TyIsI commented on #6
I'm going to try and spend some time on this in the nearer future

[2018-03-09 05:15] AndrewBelt commented on #6
@TyIsI You should probably wait until after I design the "Build Team workflow" #248

[2018-03-09 23:43] liquidcitymotors commented on #269
VCVia needs a lot of work; I might as well do the transition to 0.6 myself while I am at it. Finally getting around to it. Thanks!

[2018-03-10 00:10] cschol commented on #269
@liquidcitymotors Great! If you are done, if you could submit a PR to the community repo to get your plugin added that would be awesome.

[2018-03-10 00:18] AndrewBelt commented on #269
@liquidcitymotors Before releasing your module, I would prefer that you not include the name "VCV" in the name of your plugin, as it may be confuse users into thinking that it is an official plugin made by VCV.

[2018-03-10 00:20] liquidcitymotors commented on #269
Ah! Didn't think of that. Apologies, I will get that sorted right away.

[2018-03-10 00:45] AndrewBelt commented on #269
Thanks @liquidcitymotors!

[2018-03-10 13:03] MarcBoule opened #313 "Tags in plugin manager on VCV website?"
With the increasing number of manufacturers in the plugin list at vcvrack.com/plugins, and the fact that we can loose track of who does what kind of module, would it be possible/reasonable to add tags to the VCVRack plugin manager? If we are searching for sequencers in the plugin manager, for example, TheXOR would show up, along with all manufacturer that have sequencers in their packages. It woul

[2018-03-10 14:38] cschol commented on #313
I just had the same thought looking for a clock divider on a new machine that only has a limited set of modules installed.

[2018-03-10 17:25] AndrewBelt commented on #313
This is a subset of https://github.com/VCVRack/community/issues/243

[2018-03-10 17:25] #313 closed

[2018-03-10 18:42] cschol opened #314 "Minimum supported library versions for plugins"
[NYSTHI](https://github.com/nysthi/nysthi) plugins currently do work on **Ubuntu 16.04 LTS** (see this [issue](https://github.com/nysthi/nysthi/issues/10) reported back in December).

The error when loading plugins is as follows:

[code]

Per the issue mentioned above, the Linux version of the plugin was compiled with **Fedora 26**, which has a newer compiler and supporting libraries than the **cu

[2018-03-10 18:48] AndrewBelt commented on #314
There's a way to specify which glibc version to use. Let's do that. I've seen the method before---it's some weird linker declaration---and I don't know if it'll work, but we should do that.

[2018-03-10 18:50] cschol commented on #314
OK. I'll look into that and test with some Docker images.

[2018-03-10 18:58] AndrewBelt commented on #314
Updated post with correct version and package info

[2018-03-10 20:31] hwpfeil commented on #269
Sign me up for the Repair Team. I can adopt and upgrade to 0.6. Build and testing on Linux and Windows.
https://github.com/hwpfeil/vcvrack

[2018-03-10 20:36] hwpfeil commented on #269
I'll do Dekstop, if no one else is working on it. I found a way to painlessly replace libsamplerate for
vrackplugins_dekstop Recorder.cpp.

[2018-03-10 21:20] cschol commented on #314
Let me see if I can state the problem: plugin developers must use **at most** 2.23 and 5.4.0 when building their plugins to ensure adherence to the minimum library requirements at runtime, correct? Since the libraries are forward compatible, **building** on Ubuntu 16.04 and **running** on Fedora 26 will work, but not the other way around.

The solution you mentioned above to provide a link flag th

[2018-03-10 21:26] AndrewBelt commented on #314
Correct for first paragraph.

Note that ```version `GLIBCXX_3.4.22' not found``` is not a linker error but an error given by glibc++ itself after it is linked. It links just fine to the library, but the library does its own check and sets some backward compatibility mode depending on which version the application wants to link with.

`asm` is probably the way to go. I just haven't tested it on all

[2018-03-10 21:49] cschol commented on #314
Looking at that `asm` [example](https://stackoverflow.com/questions/2856438/how-can-i-link-to-a-specific-glibc-version), you would need to specify every symbol (`realpath` in that example) that needs to be linked against the older version? That does not seem feasible, unless I misunderstand that code.

`autoconf`: agreed. `libc.so.6` is actually executable and prints out the version. `libstdc++` r

[2018-03-10 21:56] cschol commented on #269
Thank you @hwpfeil. Please provide a PR to the `dekstop` plugin developer.

[2018-03-10 22:32] AndrewBelt commented on #314
Yeah, you're right that we'd have to rename every possible function. Not an option. Even with a shell script, renaming higher-versioned functions would probably break stuff.

Let's just call this a non-problem when everything is built from a centralized platform.

[2018-03-10 23:50] cschol commented on #314
Fair enough. Until then, the **convention** for plugin developers could just be:

Maybe something worth mentioning in the [Plugin Development Guide](https://vcvrack.com/manual/PluginDevelopmentTutorial.html) as a general guideline to have plugins follow the library requirements for Rack.

We only have one instance of this problem so far anyway (`NYSTHI`). Unfortunately, a package where source code

[2018-03-11 01:53] cschol commented on #314
I put together a simple script solution that will work for any Linux distribution, which supports Docker: [vcv-plugin-builder-linux](https://github.com/cschol/vcv-plugin-builder-linux).

I'll see if the `NYSTHI` developer wants to give it a try on his Fedora 26 system. This will bridge the gap until the centralized platform is ready and is better than any of the workarounds, which put it on the us

[2018-03-11 02:31] AndrewBelt opened #316 "`plugin.json` in each repo"
This will be a Rack 1.0+ thing, so don't worry about until then.

There should be no manifest data in C++ files except the Plugin slug and Model slugs. Instead a `plugin.json` file should be created alongside the `plugin.{dll,so,dylib}` files with all the information that is currently in the C++ *and* this repo's manifest.

We'll have ~6 months to standardize this after Rack 0.6 is released. The s

[2018-03-11 02:46] hwpfeil commented on #269
Clean compile on https://github.com/hwpfeil/vcvrack/vcvrackplugins_dekstop in Windows 10 mingw64.
Everything works as advertised. I need to fix the Recorder graphics (record button and input jacks out of place) and build/test on Linux.

The only other community src using libsamplerate is AepelzensModules. I built and tested that using SoX Resampler Library in both mingw64 and Linux. Open issues: M

[2018-03-11 02:54] cschol commented on #269
@hwpfeil Are you planning on providing Pull Requests to the developers?

One question: why are you replacing `libsamplerate` with `SoX`? Rack used to use `libsamplerate` itself and was shipping with it, that's why plugin developers were using it. `v0.6` does not ship with `libsamplerate` anymore since it uses `libspeexdsp`. Therefore, the plugin dependency of libsamplerate must be provided by the

[2018-03-11 19:30] hwpfeil commented on #269
https://github.com/hwpfeil/vcvrack/vcvrackplugins_dekstop built and tested on Linux. Ready for build/test on Mac. Release to Build Team?

[2018-03-11 19:54] hwpfeil commented on #269
@cschol I'm a git noob. Don't know how to provide Pull Requests. I thought if I release the code, folks could copy it?
Only two 0.51 plugins use libsamplerate. Dekstop Recorder.cpp used only one simple function, so I was able to embed the necessary code. The other libsamplerate instance is AepelzensModules Folder.cpp. I used that as a learning experience in plugin design and upgrade, before I crea

[2018-03-11 20:14] hwpfeil commented on #269
I'll adopt https://github.com/antoniograzioli/Autodafe for 0.6 upgrade, if no one else is working on it.

[2018-03-11 20:48] AndrewBelt commented on #269
@hwpfeil That still doesn't answer the question of *why* you're using SoX instead of libsamplerate directly.

[2018-03-11 21:07] phdsg commented on #269
see: https://github.com/VCVRack/community/issues/269#issuecomment-367154320

[2018-03-11 21:57] hwpfeil commented on #269
Folder.cpp is GPL licensed under the Free Software Foundation; SoX Resampler is LGPL under the Free Software Foundation. Since it worked in AepelzensModules, I used it for Dekstop, too.
(Can you mix GPL and 2-clause BSD?)
There's http://wiki.audacityteam.org/wiki/Libsoxr. It was just for personal use, I never intended to change anything above the plugins directory.

[2018-03-13 05:57] AndrewBelt commented on #269
Could someone check out the `v2` branch of this community repo, and add all plugins to the `repos/` directory as git submodules? Make sure the names of the folder exactly match their slug, and make sure the branches are the "0.6" versions. For example
[code]

[2018-03-13 19:50] hwpfeil commented on #269
Take Autodafe off the to-do list. Mr. Grazioli is updating his own plugins to 0.6.

[2018-03-13 23:02] cschol commented on #269
@hwpfeil Thank you for your offer to help. Please read the second post above. All plugins are being worked on already, either by the developers or PRs have been provided (and in a lot of instances merged). The post explains what the checkmark in the list means and when a plugin gets crossed off the list. There is some cleanup to do with individual plugins, but I am going to let the developer drive

[2018-03-13 23:06] cschol commented on #269
@AndrewBelt I'll script a conversion from the old community repository to the new one tonight and provide a PR. Some of the plugins are still on dev branches for the 0.6 release. Do you want those plugins to point to the dev branch or assume that master at some point will get the 0.6 changes?

[2018-03-14 00:10] dizzisound commented on #269
@cschol Ops, sorry I didn't note this was in charge... So do not consider my PR, please. I did a simple and rough freewill exercise, far way better a script-sourced and official work. I should manage to drawback my PR. Thank you!

[2018-03-14 00:16] cschol commented on #269
@dizzisound No worries! You contribution is as official as mine. Thank you! I do have to say I would prefer to only add modules right now that are known to be working on all platforms and add new working ones one by one. This would make some kind of automated CI easier for the 0.6 versions. @AndrewBelt, what to you think?

[2018-03-14 01:41] AndrewBelt commented on #269
Let's avoid CI entirely until we need it. CI should only automate a task which we are 100% certain we've explored all exceptions and issues by performing a task manually until it gets annoying. Automation should only be done through Makefiles and Python scripts in the v2 branch's `scripts` directory (not yet existing) but should always be performed by a human.

[2018-03-14 02:21] cschol commented on #269
We are doing CI every day to check the plugins and we need it right now, because things keep breaking. I am not talking about Travis CI, but just scripting enough to not have to execute every build manually. I actually just found "make dist_all", which is enough and it helped flush out a bunch of issues when I tried to build all the submodules I added. Mostly missing `RACK_DIR`, but some new compi

[2018-03-14 02:32] AndrewBelt commented on #269
Ah, we're on the same page then. As long as it's not "some server in an unknown location" doing things on each PR. Orchestrating events is a huge mess with TravisCI, CircleCI, etc that is a non-problem when you initiate it each time with `git pull`, `make whatever`

[2018-03-14 03:00] cschol commented on #269
@AndrewBelt [Valley Free](https://github.com/ValleyAudio/ValleyRackFree) has a whitespace character in their slug. I assume that is not acceptable? Is there a reference anywhere that I can point to?

[2018-03-14 03:05] AndrewBelt commented on #269
https://github.com/VCVRack/community/pull/281
Make an exception for that one and use ValleyFree as the directory name

[2018-03-14 04:47] cschol commented on #269
Some more issues opened up today (compile errors, missing `RACK_DIR` in `Makefile`). If you want to help, feel free to grab one that is not checked in the above list and create a PR. Thank you!

[2018-03-14 16:45] alikins commented on #269
@cschol

https://github.com/alikins/Alikins-rack-plugins/issues/1 fixed in https://github.com/alikins/Alikins-rack-plugins/commit/9a19cc447f09435c1de087b5339b4a0b79003e00

[2018-03-14 19:30] AndrewBelt commented on #269
This submodule `repos` thing is really cool. Everything built straight out of the box for me, and I tested it with a build against `Rack-SDK` which will be the new method for developing plugins without compiling Rack.

The **Build Team** will therefore by me for at least two weeks after the Rack 0.6 release, and I'll host files on the vcvrack.com website or something. I'll make builds at least as

[2018-03-14 19:53] hwpfeil commented on #269
If I may, I'm going to rename TechTechTechnologies plugins  folder from "vcv" to "TechTechTechnologies" - there are already a few "vcv_" folders, could be confusing when scanning the Plugin Browser menu.

[2018-03-14 20:36] AndrewBelt commented on #269
@hwpfeil Sounds good. If you're the creator (or primary source) of a particular plugin, could you pull it into its own repo so that the Makefile is at the root?

[2018-03-14 20:56] hwpfeil commented on #269
Yes, SIr.
gitNoob need input

[2018-03-14 23:51] cschol commented on #269
@hwpfeil Are you the developer of `TechTechTechnologies`? The **slug** of the plugin is **TechTechTechnologies**, which means that in the new plugin structure using `git submodules` the **source** directory will be called `TechTechTechnologies`. I am not sure we need to rename this one.

[2018-03-15 00:32] hwpfeil commented on #269
Just the upgrade monkey, not developer. There's about a dozen plugins beginning with vcv. I thought the 'vcv' would get lost for those quickly scanning the modules for a patch. Easy enough to leave it in situ, I'll be lost in a add-a-little/save/compile/run/repeat loop trying to get knobs centered in the graphics. I noticed dBiz/Verbo are off. I use max-scale for fine location work. I don't suppos

[2018-03-15 09:12] jhoar opened #329 "0.6 endgame for module developers?"
Hi,

It's now... 1d6+5 days before 0.6 goes live. Could you give us an idea of what you'd like the module developers to do and when? I think we'd all be keen to have our modules available as quickly as possible (if not simultaneously).

Also, what version numbering scheme is preferred? I was planning on 0.6.9 for AH (0.6 corresponding to the Rack version, and the 9 corresponding the 9th release of

[2018-03-15 09:17] jhoar commented on #329
Oops, wrong repo.

[2018-03-15 09:17] #329 closed

[2018-03-15 17:05] dizzisound commented on #269
Additional plugins update: PR pending for @teletypist Stochasm here: [Updated to Rack 0.6 API](https://github.com/teletypist/stochasm/pull/3)

[2018-03-15 19:27] hwpfeil commented on #269
Having a spot of bother finding RoundSmallBlackSnapKnob. There is a svg image in Rack/res, but no definition or implementation.  The Plugin API thread suggests its use.

[2018-03-15 19:52] davephillips commented on #269
@hwpfeil Just change it to RoundBlackSnapKnob.

[2018-03-15 21:49] hwpfeil commented on #269
The knobs are centred inside a grey circle with ticks along the circumference. RoundBlack obscures the tick marks. The author used RoundSmall. I tried deriving with snap=true, but that knob, although it renders correctly, doesn't turn.
I figured out how to add a .25 grid to Inkscape so I can correctly locate the knobs to the new height. I've dozens of knobs out of place.

[2018-03-15 23:58] cschol commented on #269
@hwpfeil Which plugin are you working on?

[2018-03-16 00:14] hwpfeil commented on #269
vcvrackplugins_dekstop also needs RoundSmallBlackSnapKnob.
https://github.com/VCVRack/Rack/issues/258#issuecomment-339504994 says to use it,
I'm working on vcv. Still placing knobs buried in for loops. Dozens of Small knobs no longer line up. Changed panel heights in Inkscape to avoid scaling errors.

[2018-03-16 00:19] AndrewBelt commented on #269
@hwpfeil  No position changes are needed. See

[2018-03-16 02:48] cschol opened #331 "v0.6 Plugin release preparation"
@AndrewBelt

Inspired by this [thread](https://github.com/VCVRack/Rack/issues/801) in the Rack tracker:

1. Right now, I am moving any plugin that is confirmed to be working on all platforms and adhering to the new `Makefile` template (`RACK_DIR`!) to `v2`. Even after launch, I expect some plugins to not be updated. We would continue to monitor their state and move them over as soon as they are up

[2018-03-16 03:08] AndrewBelt commented on #331
1. Yes, I will devise a more organized workflow of each VCV community team in the next few weeks.
2. Yes, the `dev` version was a mistake. There are only types of versions: Those which work with an API version of Rack, and those that build against *some* commit hash of Rack `master`. From now on, the latter should be versioned simply `VERSION = master` and will not be distribute in any sort of pac

[2018-03-16 03:24] cschol commented on #331
1. OK. I'll continue until the new process is in place.
2. For clarification: do developers need to update their plugins to `v0.6.x` then? Or is that versioning done in the package manager?
3. Ah, got it. Thanks.

[2018-03-16 03:26] AndrewBelt commented on #331
2. Yes, all developers should change their VERSIONs to 0.6.* at this time.

[2018-03-16 03:37] cschol commented on #331
Got it. I'll get started pinging `v2` developers to update and pull the updates into a PR.

Update: 13 out of 37 are correct already.

[2018-03-16 04:05] cschol commented on #269
In preparation for the Rack `v0.6` release, the plugin **versions** need to be updated.
If your plugin shows up on this list, please update your version to the format

`VERSION = 0.6.x` (where **x** is a number from 0 to whatever you want)

in the `Makefile` in the **next few days** if possible.

**IMPORTANT**: Please adhere to **this 3-digit versioning format**.

If your version is updated or you

[2018-03-16 04:55] squinkylabs commented on #269
done! thanks so much.

[2018-03-16 06:05] sanderbaan commented on #226
Would it be possible to get statistics of how many times a plugin has been downloaded?

[2018-03-16 06:26] AndrewBelt commented on #226
From the Linux/Windows/Mac icons? No. GitHub might know if you're serving the files from Releases.

After Rack 0.6 with third-party open-source plugins added to the plugin manager, most people (except compile-from-source nerds) click the add buttons on the plugin manager page, so I'd be able to just run a SQL query to get the numbers. If someone asks me and I'm not busy, I'd be willing to tell the

[2018-03-16 06:28] sanderbaan commented on #226
OK the info from the Add button would be good also, with github I am afraid it only shows the statistics of the last month, I did not find a way yet to change the date range there...

[2018-03-16 08:57] leopard86 commented on #269
done, thanks!

[2018-03-16 10:47] The-XOR commented on #269
makefile -> 0.6.0
cheers

[2018-03-16 13:41] dizzisound commented on #269
Additional plugins update: PR for Stochasm merged and closed, courtesy of @teletypist here: [Updated to Rack 0.6 API](https://github.com/teletypist/stochasm/pull/3)

[2018-03-16 15:41] mhetrick commented on #269
Done. Thanks for the heads up!

[2018-03-16 15:42] AScustomWorks commented on #269
Done!

[2018-03-16 16:01] JerrySievert commented on #269
CharredDesert, SynthKit, and DrumKit all at 0.6.0 - PR's will come soon for this repo for when you're ready to merge/release.

[2018-03-16 16:01] luckyxxl commented on #269
@cschol Done

[2018-03-16 16:11] gbrandt1 commented on #331
hi, sorry i don't get how the PR for the 0.6 test works. do i have to fork the community repo? where do i provide the clone URL? thanks

[2018-03-16 18:17] almostEric commented on #269
Done!

From: cschol <notifications@github.com>
Sent: Thursday, March 15, 2018 9:05 PM
To: VCVRack/community <community@noreply.github.com>
Cc: Eric Sterling <eric@digitalpour.com>; Mention <mention@noreply.github.com>
Subject: Re: [VCVRack/community] Repair Team (#269)

In preparation for the Rack v0.6 release, the plugin versions need to be updated.
If your plugin shows up on this list, please up

[2018-03-16 23:48] AndrewBelt commented on #331
@djpeterso23662 I was considering that, but that prevents us (the VCV community) from making changes ourselves. From experience in the last few months, only 25% of plugin developers nailed the format perfectly, which is much too low. (We need 100%)

[2018-03-17 00:02] JerrySievert commented on #269
is the rack api stable enough to release 0.6.0 binaries in preparation for the release, or are there going to be changes that we should hold off for?

[2018-03-17 02:08] djpeterso23662 commented on #269
I have updated MrLumps to VCV Rack 0.6.0 APIs.

[2018-03-17 06:13] sanderbaan commented on #269
Stellare Modular modules are ready for 0.6 :)

[2018-03-17 06:42] Strum commented on #269
done.

[2018-03-17 07:58] dBiz commented on #269
Done ;)

2018-03-16 20:20 GMT+01:00 Dale Johnson <notifications@github.com>:

[2018-03-17 14:39] cschol commented on #269
@stellare-modular Thank you! Did you ever figure out the Windows issues? I sent a PR a while ago that should fix those.

[2018-03-17 14:44] davephillips commented on #269
@stellare-modular Is the Turing Machine Music Thing available now for 0.6 ? Just curious, no rush.

[2018-03-17 14:45] cschol commented on #269
@Strum Your latest commit has [merge issues](https://github.com/Strum/Strums_Mental_VCV_Modules/issues/40).

[2018-03-17 15:15] sanderbaan commented on #269
@davephillips its ready but we release when 0.6 comes out..

[2018-03-17 21:52] hwpfeil commented on #269
I noticed that ParamWidget is now deprecated in app.hpp. Is there a deadline when Param goes away?
Existing:  addParam(ParamWidget::create<RoundBlackKnob>
Change to:  addParam(ParameterWidget::create<RoundBlackKnob>
Will addParam change to addParameter?
Easy enough to use [sed -i 's/ParamWidget/ParameterWidget/' *.cpp]

[2018-03-18 01:00] cschol commented on #269
Thank you @chichian!

[2018-03-18 01:29] AndrewBelt commented on #269
@hwpfeil `ParamWidget` will never go away, but Rack code will refer to it as `Parameter` from now on.

[2018-03-18 01:36] hwpfeil commented on #269
*Doh!* [busy changing it back...] ;-)

[2018-03-18 02:27] cschol opened #335 "Plugin dependency management"
@AndrewBelt

We have a few examples of plugins that require 3rd party libraries to build, e.g. [Stellare Moduar VCV-Link](https://github.com/stellare-modular/vcv-link) (requires `asio.hpp` from, e.g. `libasio-dev`) or IO-Simple still requires `libsamplerate`.

What should the guidance for plugin developers be when it comes to these dependencies? I am thinking specifically of the case where the plu

[2018-03-18 02:34] AndrewBelt commented on #335
If the plugin developer can find a git repo, use git submodules. If not, and the license allows it, simply include the files in the plugin's repo.

There is virtually nothing a makefile can't do. Plugin developers should add pre-build scripts if needed. I'm sure there's a better way, but you could do

[code]

No, definitely not. That would be grounds for deletion, since I consider it malware.

[2018-03-18 02:51] cschol commented on #335
Right, I use Makefiles a lot and rarely are they inferior to a shell script.

Now, I would think that for consistency in **execution** of the build, you would want the, let's call it **build interface** to be consistent.

Meaning that a plugin developer should use either `make dep` or include any preparatory steps in the main target itself executed when just calling `make` and **not** have a magic

[2018-03-18 18:19] modlfo opened #341 "Adding link to issues/support page"
For all the open source plugins hosted on github it's clear that the github issues page is the channel to contact for support. The issues page can be accessed through the "Source" link.

However since I don't have the sources in my public github it would be good having some way of redirecting the users wanting to contact me to my github issues page. I can add a link in my Manual page and contact e

[2018-03-18 23:59] AndrewBelt commented on #341
It would be nice to have a contact email address, but there's not really space for it, and emails links are bad UX. I think most people would expect it to be on the "homepage" URL, so if you want contact info to be clear, I'd suggest putting a Contact link on the header of your website.

[2018-03-19 08:22] modlfo commented on #341
If the comercial plugins are gonna have some piece of web page in the VCV site with description etc. it seems like a good place to put the support information.

I'll close this one for now.

[2018-03-19 08:22] #341 closed

[2018-03-19 09:42] david-c14 commented on #200
Does it cause a problem if the root folder doesn't match the slug.

Because I've only just started, I can easily move my repository if you prefer

[2018-03-19 09:52] david-c14 commented on #200
ok, thanks. Sorry for the noise

[2018-03-19 17:17] AndrewBelt commented on #190
Merging discussion with #243

[2018-03-19 17:17] #190 closed

[2018-03-19 17:18] #200 closed

[2018-03-19 17:23] Chaircrusher opened #345 "Ohmer-0.5.7-lin.zip link is bad"
Haven't checked the others...

[2018-03-19 19:21] hwpfeil commented on #269
Drop-in replacement for "src_float_to_short_array()". For example, in
IO-Simple utils/WavWriter.cpp, place the following above WavWriter::run() or in utils/WavWriter.hpp

=-=-=-=-=-snip=-=-=-=-
// Excerpts from
// SoX Resampler Library Copyright (c) 2007-18 robs@users.sourceforge.net

/// FPU instruction is faster at converting a float to an int, but may not be supported
///#define rint16D(a,b) __

[2018-03-19 21:55] alikins commented on #269
Done.

[2018-03-20 00:03] cschol commented on #269
@hwpfeil Can you please explain the licensing implications of what you are proposing in your last post?

[2018-03-20 00:09] DomiKamu commented on #345
Yes it was my fault, due to extra "v" letter in each path. Please apologize. TY.

[2018-03-20 00:50] squinkylabs commented on #269
@ghost - that looks like the "old fashioned" way to do float to int. I think there are faster and more straightforward ways with SSE, aren't there?

[2018-03-20 01:37] #345 closed

[2018-03-20 19:26] MarcBoule commented on #269
I've been reading through this issue, and I'm not sure I understand how the 0.6.0 community manifest will work. I saw that there is a v2 branch here
https://github.com/VCVRack/community/branches
but was wondering if the manifest .json files are still going to be used in 0.6.0? I understand how things worked in 0.5.x w.r.t. the plugin manager and those developper manifest files, but I'm a bit lost

[2018-03-20 19:31] AndrewBelt commented on #269
@MarcBoule Still haven't planned it, but they will look nearly the same except without the `"downloads"` property.

[2018-03-20 19:36] MarcBoule commented on #269
Thanks @AndrewBelt . So will the developpers then still need to build the binaries and host them in the developpers' releases, for example, or will the Repair team fork their own copy of our repos in order to build the pluging locally for all three platforms and make those available in the plugin manager for the users? (Discussion related to open source plugins)

[2018-03-20 20:22] cschol commented on #269
@MarcBoule if your plugin is confirmed to be building on all platforms and Makefile (RACK_DIR!) is correct and VERSION is set to 0.6.0, I'll add it later tonight. I'll review and get back with you on any issues if there are any.

[2018-03-20 20:41] AndrewBelt commented on #269
The Build Team (first consisting of just me) will build and host the binaries. The Repair Team and individual developers don't need to do anything.

[2018-03-20 20:47] JerrySievert commented on #269
how, and how often will updates be made?  will there be a tag or branch you're looking for to signal an update?

[2018-03-20 20:58] sebastien-bouffier commented on #269
Hello, I see `&&` read many community mails so I set my `autistic_mode = OFF` and I leave my github repository for a moment to say a very big thanks to the repair team and Andrew for all the efforts and kindness. Such a great piece of software and nice people around it. Cheers.

[2018-03-20 21:41] AndrewBelt commented on #269
@JerrySievert Haven't decided, but I think the best would be for plugin developers to open an issue and the correct team will handle updating your manifest, repo submodule, or build.

[2018-03-20 23:14] MarcBoule commented on #269
Echo that Sebatien, great team indeed, with great volunteers giving their precious time, lead by a beast Andrew Belt who is all over the place driving this tremendous vehicle that is VCV Rack :-)
Thanks @cschol for the reply, and thanks AB for the info regarding the build team.

[2018-03-20 23:32] cschol commented on #269
@MarcBoule I added your repository to `v2`. Thank you for providing the plugin. It looks great! PR will go out later tonight with some other updates.

[2018-03-21 00:26] cschol commented on #269
@ValleyAudio Yes, thanks, I will correct that now that your slug has changed. This was because the old one had a whitespace in it.

[2018-03-21 03:38] cschol commented on #269
I have filed issues with all developers that have not updated their plugin versions to the three-digit format. This is a reminder ping for developers to get this updated asap. Thank you!

[2018-03-21 03:54] cschol commented on #331
`Bidoo` plugin has some quirks, that are affecting the build of `v2`:

- Needs `make dep` (to build `mpg123` dependency). I think that it OK, but it requires another step to be run for just that plugin before `make dist_all` can run.
- Links against static library `libcurl.a` provided by Rack in `dep` directory. This fails when using the `Rack-SDK`. I am thinking to notify the developer that they

[2018-03-21 04:54] AndrewBelt commented on #331
I've added libsamplerate to the Fundamental build system, so you can use this as an example, but it's not super elegant. https://github.com/VCVRack/Fundamental/blob/master/Makefile
I'd say wait on Bidoo. Maybe there's a way to hack Windows around the DLL loading problem.

[2018-03-21 14:25] gbrandt1 opened #350 "RACK_DIR"
what's the idea with setting RACK_DIR? we do it by hand / in .bashrc?

[2018-03-21 14:27] AndrewBelt commented on #350
See https://github.com/VCVRack/Rack/issues/258#issuecomment-365346155. Also subscribe to that if you aren't already.
`RACK_DIR` is now required, just in time for Rack 0.6.

[2018-03-21 14:30] gbrandt1 commented on #350
i have that, as recommended
RACK_DIR ?= ../..
it isn't picked up since today

[2018-03-21 17:37] AndrewBelt commented on #350
Could you post the error message? Also mind creating an issue in the Rack repo?

[2018-03-21 17:37] #350 closed

[2018-03-21 23:17] gbrandt1 commented on #350
sorry for the noise, i figured out what happened: a script i'm using to keep things up to date had accidentally checked out the master (which is still on 0.5) overwriting the 0.6 branch

[2018-03-21 23:29] cschol commented on #331
Awesome. Thanks. I will present that example to some plugins that use `libsamplerate` right now.

Not sure what you mean by that. Will the static link not work for Windows?

[2018-03-22 03:37] AndrewBelt commented on #331
On Linux and Mac, the follow is possible:
- Rack loads libcurl using linker information at boot
- Rack loads plugins/Fundamental/plugin.* dynamically
- the plugin uses symbols from libcurl

On Windows, DLLs can't talk to sister DLLs, only the main program. Otherwise this problem would be easy to solve by just having Rack load a bunch of common DLLs. An option is to statically link libsamplerate, l

[2018-03-22 05:18] Strum commented on #269
@cschol I think I fixed the merge mess up.

sorry, my bad.

[2018-03-22 16:50] ndrspcfd commented on #170
Just wanted to drop a thought on this here..

Leaving aside for a moment the concerns of a plugin-building script, the majority use case to be considered, numerically, is likely not that of a plugin developer, but that of an enthusiastic but non-developer Rack user who wants to download and build the latest and greatest.

From that point of view, I think it's worth recommending plugin authors crea

[2018-03-22 17:01] AndrewBelt commented on #170
@ndrspcfd Already recommended here. https://github.com/VCVRack/Rack/issues/258#issuecomment-374835308
If it's a requirement, it becomes more problematic when developers don't follow it than if it's a suggestion. Branches don't just correspond to versions but also experimental features.
Tags are only for signaling "this is what the official release was built from". There is no reason to build a tag

[2018-03-22 17:24] AndrewBelt opened #352 "Library team"
Participating in the Library team is the simplest of the four. Requires knowledge of submitting PRs and editing JSON in the `manifests/` directory.

## Tasks

- Keep plugin manifests correct and up-to-date.
- Handle issues opened by plugin developers who want to add/update their plugin.
- Seek new plugins/updates when developers don't notify us.

## Workflow

Begin by checking this repo's issues f

[2018-03-22 17:25] AndrewBelt opened #353 "Build team"
Placeholder. Subscribe if you are interested in joining the Build team.

## Workflow

*TODO*

Only the Build Team may change properties `status` and `latestVersion` in manifest files.

[2018-03-22 17:26] AndrewBelt opened #354 "Review team"
The Review team is responsible for updating and adding plugin source code to `repos/`, making sure the source code is not malicious.

## Workflow

Begin by checking this repo's issues for requests from plugin developers.

If someone requests an update to their build, first figure out what commit they're talking about in their source repo. Sometimes they'll mention a tag or branch or just say "the

[2018-03-22 18:30] AndrewBelt commented on #248
The Library team issue has been created at https://github.com/VCVRack/community/issues/352

[2018-03-22 19:54] ndrspcfd commented on #170
@AndrewBelt  Right! - Good thinking there :) And yeah, it would be crazy to try and insist on any of that, but sensible recommendations are a Good Thing.

[2018-03-23 14:10] davephillips commented on #269
@cschol Hey Chris, I've been trying to reach you regarding the Peaks module in the Audible Instruments collection. Sorry for using this forum but I can't find another route to you. :) I'd like to get that module in working order and would be happy to help debug it if needed.

[2018-03-23 14:57] MarcBoule opened #356 "ImpromptuModular"
I don't know if I should be posting this here, but I would like to **supply** my manifest file for the v2 community repo, and also request an **update** of the repo link to my latest master. Thanks!
ImpromptuModular.json:

[code]

[2018-03-23 15:17] AndrewBelt commented on #352
I'll use this issue https://github.com/VCVRack/community/issues/356 as a practice for someone on the Library team. Typically, each plugin developer will create an issue with the title = plugin slug (I'll personally change it if not) where they'll communicate with the Library team upon updates.

@MarcBoule has provided a scratch JSON file. Usually developers won't do that. Some things the Library t

[2018-03-23 15:18] #273 closed

[2018-03-23 15:20] #173 closed

[2018-03-23 15:20] #86 closed

[2018-03-23 15:21] AndrewBelt commented on #6
Mergin with #353

[2018-03-23 15:21] #6 closed

[2018-03-23 15:35] MarcBoule commented on #356
Thanks Andrew. For the readme url, I was indeed thinking of supplying this link instead:
```https://github.com/MarcBoule/ImpromptuModular/blob/master/README.md```
but I wasn't sure it was the recommended way. Good to know!

P.S. If ever no one volunteers for the Library Team, I could perhaps pitch in, I would just need to learn about the "_knowledge of submitting PRs_" part, in particular relating

[2018-03-23 17:02] MarcBoule commented on #352
DISCUSSION: Just to understand better the proposed method, is it your intention that each dev's issue, titled with his or her slug as mentionned above, remain persistent (i.e. always open), and thereby serves as the communication channel between the dev and the Library team? In this manner a request for an update of the repo's version of our plugin, for example, would be a new comment in the plugi

[2018-03-23 18:14] AndrewBelt commented on #352
Yes, keep the same issue for each plugin.
If the issue creator closes the issue, can they reopen it? If not, just keep it open indefinitely.

[2018-03-23 21:01] cschol commented on #269
@davephillips Let's open an issue in AudibleInstruments for this discussion. I would love to see it included with v0.6, too. It IS working as is, but there was some discussion with Andrew whether the VCV version *should* work exactly like the physical implementation does. We can continue there. Thanks.

[2018-03-23 21:17] cschol commented on #352
A few questions:
- Should the manifest .json files always contain **all** keys, e.g. `contactEmail` or `donateUrl`, even if the value is not known or used (e.g. no contact email provided or no donations)?
- Should we tag the plugin developer in the PR for updating the manifest to review?

[2018-03-23 22:30] davephillips commented on #269
@cschol I've already opened an issue in Audible Instruments, #49 Peaks build error. Shall we continue there ? If not, please go ahead and open a new one and I'll follow it. Many thanks !

[2018-03-23 22:32] cschol commented on #269
@davephillips Sorry, didn't see that issue. Yes, let's move it there.

[2018-03-26 21:28] mhetrick opened #368 "UnfilteredVolume1"
Version should be updated to 0.6.0

[2018-03-27 00:26] cschol commented on #331
@AndrewBelt After the current PR #369, all plugins in the `v2` repo build and package successfully with `make dist_all` on Linux.

[2018-03-28 10:36] Phal-anx opened #376 "MSM"
MSM v0.6.0 plugin is ready here:
https://github.com/Phal-anx/MSM/releases/tag/0.6.0

  "name": "MSM",
  "author": "Phal-anx",
  "license": "CC BY-NC-ND 4.0",
  "contactEmail": "phal.anx.art@gmail.com",
  "pluginUrl": "https://github.com/Phal-anx/MSM",
  "manualUrl": "https://drive.google.com/file/d/1Cjof90oYVltSJuXu0hqpw9hIN3r3U94T/view",
  "latestVersion": "0.6.0"

[2018-03-28 11:12] modlfo opened #377 "VultModulesFree"
I have my binaries ready but I found that I didn't add the last zero to the version number. I have v0.6 instead of v0.6.0. I don't know if this is an issue.

https://github.com/modlfo/VultModules/releases/tag/v0.6

In any case, I'll update my binaries in a couple of hours with the full version number and I'll wait for instructions to make them available.

[2018-03-28 14:57] n6smith commented on #352
Note: Both links in initial post are non functioning 404s.

[2018-03-28 15:00] AndrewBelt commented on #352
@n6smith Thanks, switched to master branch.

[2018-03-28 15:56] antoniograzioli opened #378 "Plugin links gone?"
well, maybe I am just idiot today or I missed something....
but how do i link my plugins for download if they are not on a repo but on my server?
I had no problem with the direct link approach we had before, but can't understand how to create the manifest now...

[2018-03-28 16:09] AndrewBelt commented on #378
Yes, they are gone. All plugins distributed through the Plugin Manager now must be served from api.vcvrack.com. You and about 10 other developers are special since you have plugins which are neither open source nor on the VCV Store. I'll announce a program later to handle this cast, so stay tuned.

[2018-03-28 17:32] antoniograzioli commented on #378
well I dind't see it coming or announced....

[2018-03-28 17:34] AndrewBelt commented on #378
I've added documentation here. https://github.com/VCVRack/community#for-plugin-developers-addingupdating-your-plugin
Will announce when I have time.

[2018-03-28 17:37] AndrewBelt commented on #378
Announced at https://www.facebook.com/groups/vcvrack/permalink/168344337159052/

[2018-03-28 17:39] antoniograzioli commented on #378
yeah but when was this decision taken?
I updated all my community files just to discover they are now gone...

[2018-03-28 17:40] AndrewBelt commented on #378
A few days ago.

[2018-03-28 17:42] ValleyAudio commented on #269
@cschol Was the submodule for Valley updated? Apparently my commits on branch v0.6 are ahead of the submodule

[2018-03-28 17:52] AndrewBelt commented on #269
Starting now, all plugin developers need to follow the instructions at https://github.com/VCVRack/community#for-plugin-developers-addingupdating-your-plugin to update your plugins from the state in the Plugin Manager. PRs will no longer be accepted from anyone except team members.

[2018-03-28 17:53] antoniograzioli opened #380 "Autodafe, Autodafe-REDs, Autodafe-REDsFREE, Autodafe-DrumKit"
please update

[2018-03-28 17:54] antoniograzioli opened #381 "Autodafe-DrumKit.json"
please update

[2018-03-28 17:56] antoniograzioli opened #382 "Autodafe-REDsFREE.json"
please update

[2018-03-28 17:57] antoniograzioli opened #383 "Autodafe-REDs.json"
please update

[2018-03-28 18:00] AndrewBelt commented on #381
Merging with #380

[2018-03-28 18:00] AndrewBelt commented on #382
Mergin with #380

[2018-03-28 18:00] #382 closed

[2018-03-28 18:00] AndrewBelt commented on #383
Mergin with #380

[2018-03-28 18:00] #383 closed

[2018-03-28 18:00] #378 closed

[2018-03-28 18:01] #111 closed

[2018-03-28 18:03] modlfo commented on #377
I have added new binaries with the full version: 0.6.0.

[2018-03-28 18:58] jhoar opened #384 "AmalgamatedHarmonics"
Tag here: https://github.com/jhoar/AmalgamatedHarmonics/tag/0.6.0

"name": "Amalgamated Harmonics"
"author": "John Hoar"
"license": "BSD-3-Clause"
"contactEmail": "amalgamatedharmonics@outlook.com"
"manualUrl": "https://github.com/jhoar/AmalgamatedHarmonics/wiki"
"sourceUrl": "https://github.com/jhoar/AmalgamatedHarmonics"
"latestVersion": "0.6.0"

[2018-03-28 19:27] ValleyAudio opened #385 "Valley"
Valley master branch has been updated to 0.6.0

name: Valley
author: ValleyAudio
license: BSD-3-Clause, GPL-3.0-only
contactEmail: valley.audio.soft@gmail.com
pluginUrl: https://github.com/ValleyAudio/ValleyRackFree
authorUrl: https://github.com/ValleyAudio/ValleyRackFree
manualUrl: https://github.com/ValleyAudio/ValleyRackFree
sourceUrl: https://github.com/ValleyAudio/ValleyRackFree
donateUrl: ht

[2018-03-28 20:27] almostEric opened #387 "FrozenWasteland"
latestVersion : 0.6.2
commit hash:  da73489d1f7aa3dba77925777d485a3e66f8aec1
branch: Master

[2018-03-29 00:07] cschol commented on #352
@AndrewBelt Would you prefer one PR per plugin update or is it OK to combine multiple plugins in one PR?

[2018-03-29 01:30] squinkylabs opened #388 "squinkylabs-plug1"
(oh - I see now! It's make dist that fails. got it!)
I see our plugin was disabled 8 hours ago. What do we need to do to get it re-enabled?

btw: are we supposed to add the plugin label to issues ourselves? Or just leave the driving to you?

tx

[2018-03-29 02:25] cschol commented on #388
I am not sure why it was disabled. Andrew will take care of it as soon as he is back. No worries about the plugin label. We can add those. Thank you for your patience.

[2018-03-29 02:39] dllmusic opened #389 "moDllz"
Just downloaded Rack 0.6 (Mac) and my bin Build does not include the latest module. Poly XBender (Source including latest module was updated a couple of days ago...so I guess the build was done before that)...
Manual is updated too but with the same link, so it's showing up fine.
Could the Team please rebuild?... I don't think it's necessary to renumber to 0.6.1 but it could be done if it's necess

[2018-03-29 04:09] DomiKamu opened #391 "Ohmer"
name: Ohmer Modules
author: Dominique Camus
license: BSD-3-Clause
contactEmail: domi.camus@free.fr
pluginUrl: https://github.com/DomiKamu/Ohmer-Modules
authorUrl: https://github.com/DomiKamu
manualUrl: https://github.com/DomiKamu/Ohmer-Modules/blob/master/README.md
sourceUrl: https://github.com/DomiKamu/Ohmer-Modules.git
donateUrl: https://www.paypal.me/DominiqueCAMUS
latestVersion: 0.6.4

[2018-03-29 04:10] DomiKamu commented on #391
Remark: no e-mail address provided, it's normal. Thanks.

[2018-03-29 04:51] cfoulc opened #392 "cf"
name: cf
    author: Clément Foulc
    license: MIT
    contactEmail: c.foulc@gmail.com
    pluginUrl: https://github.com/cfoulc/cf
    authorUrl: https://www.facebook.com/clement.foulc
    manualUrl: https://github.com/cfoulc/cf/blob/master/README.md
    sourceUrl: https://github.com/cfoulc/cf.git
    donateUrl: https://www.paypal.me/cfoulc
    latestVersion: 0.6.0
    status: TODO

[2018-03-29 07:57] AScustomWorks opened #393 "AS"
Small update to fix some svg file names and custom color for vu meter leds background. Let's see if I got this right:
[code]

[2018-03-29 08:36] ZuluEchoRomeOscar commented on #393
Rack no longer sees AS plugin [Linux].
log.txt reports
`[0.029 warn] Failed to load library /home/zero/.Rack/plugins/AS/plugin.so: /home/zero/.Rack/plugins/AS/plugin.so: undefined symbol: _ZN4rack9SVGSwitch4stepEv`

[2018-03-29 16:26] AndrewBelt commented on #388
This didn't build on Mac because there is a space after this line, which puts a space in the SLUG variable. No build = disabled, so fix this and we'll go through the plugin update process (which I'm still designing).

[2018-03-29 16:30] AndrewBelt commented on #352
- An update to the build requires that the user change the version somehow, so Rack knows that an update is available. It checks `oldVersion != newVersion` as a criteria for requesting an update.
- I'll type something to answer these questions in the #353 issue

[2018-03-29 16:39] ZuluEchoRomeOscar opened #395 "Bidoo fails to build againsthe SDK"
Bidoo fails to build because of the absence of `/dev/lib/libcurl.a` in the SDK.

Raised with the dev too: https://github.com/sebastien-bouffier/Bidoo/issues/68#issuecomment-377168019

[2018-03-29 16:41] AndrewBelt commented on #395
Yes, he's assuming that the file is present at `$(RACK_DIR)/dep/lib/libcurl.a` (or something) rather than building his own static libcurl, so Bidoo needs to fix this before being added to the community.

[2018-03-29 16:52] ZuluEchoRomeOscar commented on #395
Thanks.

[2018-03-29 16:54] #395 closed

[2018-03-29 17:19] sebastien-bouffier commented on #395
ok didn't knew that I had to do that ....

[2018-03-29 17:25] AndrewBelt commented on #395
Rack itself doesn't even statically link libcurl. Maybe it will in the future if I can figure out how to build curl and openssl statically on all three platforms.

[2018-03-29 17:32] sebastien-bouffier commented on #395
yes dep building can lead to headaches ... (mpg123 has been a nightmare for me and I think I could do better because the make configuration is not optimized regarding my usage) ... thanks for the information I will do my own dep for libcurl

[2018-03-29 21:02] AndrewBelt commented on #395
Dynamic linking from one library to a library loaded by the application works on Mac and Linux, but not Windows, so you have to statically link the library, or Rack itself has to statically link it. But don't do that for glfw. Why do you need to call a glfw function?

Your osdialog usage looks correct.

[2018-03-30 01:41] squinkylabs commented on #388
I got an autoreply from andrew which said: ```This didn't build on Mac because there is a space after this line, which puts a space in the SLUG variable. No build = disabled, so fix this and we'll go through the plugin update process (which I'm still designing).```
Unfortunately the link in the email takes me to this page. I still don't know what "this line" (above) refers to. I despair of ever ge

[2018-03-30 04:21] #368 closed

[2018-03-30 04:35] mdemanett opened #396 "Bogaudio"
Requesting an update of Bogaudio.

updatedVersion: 0.6.5

[2018-03-30 12:44] The-XOR opened #397 "TheXOR"
.gitmodules for my repository  (TheXOR) has an invalid url, it should be corrected as:

url = https://github.com/The-XOR/RackPlugins

the same for the .json file in manifest folder

Thank you

[2018-03-30 15:04] squinkylabs commented on #388
We have fixed the problem that was causing the build to fail. Have left the version at 0.6.0, Let us know if we should update that.

[2018-03-30 18:03] AScustomWorks commented on #393
Another small update (0.6.0.2), BPM clock code fix, VCA internal name fix:
[code]

[2018-03-30 19:01] AndrewBelt commented on #393
Can I use you as a quick test? Since you created this issue, can you close it and reopen it to make sure you can do that? Afterwards, I'll close the issue, and then you check if you can reopen it again.

[2018-03-30 19:10] AScustomWorks commented on #393
done!

[2018-03-30 19:11] AndrewBelt commented on #393
Okay, now try to reopen.

[2018-03-30 19:13] AScustomWorks commented on #393
The reopen button is gone, can't do it

[2018-03-30 19:15] AScustomWorks commented on #393
After you reopened, I can see the close and comment button

[2018-03-30 19:15] AndrewBelt commented on #393
Oh well, I was hoping developers could reopen themselves, but I suppose GitHub disables that for good reason. Since you can comment though, I'll recommend to plugin developers to just make a comment in their closed issue, someone will reopen it, and then someone on the Library Team will handle the request.

[2018-03-30 19:16] dllmusic commented on #389
Version 0.6.1. Updated new module.

[2018-03-30 20:40] mschack opened #398 "mscHack"
0.6.0
https://github.com/mschack/VCV-Rack-Plugins

[2018-03-30 21:37] AndrewBelt commented on #354
Updated first post with Workflow section.

I previously mentioned the possibility of requiring proof of identification for being the Review team. That will not be required.

[2018-03-30 21:40] AndrewBelt commented on #248
I have adopted the above workflow into the Review Team #354 and Library Team #352 threads. Those two teams are now "launched" and ready for PRs from anyone who reads the posts.

[2018-03-30 21:42] AndrewBelt commented on #353
It seems that I am able to automate this process enough so that I can do this myself once a day. If you wanted to join this team, consider joining the Review Team #354, since the idea is basically the same except for making the final packages and uploading to the api.vcvrack.com server.

[2018-03-30 23:32] phdsg commented on #398
Updated information

[2018-03-30 23:33] phdsg commented on #397
Updated information

[2018-03-30 23:34] phdsg commented on #392
Updated information

[2018-03-31 01:38] squinkylabs opened #404 "Why do some plugins show up in plugin manager for download, and some don't?"
I notice that now most of the free plugins show up with a "free" icon on the right that lets you add them to your account and be automatically managed in the app. Hooray.

Some of them, including ours, do not show up there, but do show up with 0.6.0 download links.

Is this just a time lag?

thanks in advance! (and really great job so far with the 0.6 rollout)

[2018-03-31 01:56] phdsg commented on #404
my guess:
the webpage for the plugin manager gets automatically updated from the manifests.
the add/remove button appears as soon as andrew manually adds updated modules for distribution...

[2018-03-31 02:03] almostEric opened #405 "Is there an ETA when the plugins will get rebuilt?"
Looks like there is quite a stack of plugins that are waiting to be released. Mine was released with an old code base, so I submitted an issue to update to 0.6.1 a few days ago and still no word other than a Plug In tag being added

[2018-03-31 02:06] squinkylabs commented on #404
@phdsg : I'll bet you are right!

[2018-03-31 02:27] phdsg commented on #405
previous update commit by @cschol was reverted.
i think that was before the review/update workflow was posted and we have to change a different field in the manifest to trigger a rebuild.

[2018-03-31 02:45] almostEric commented on #405
I thought that was the whole point - we no longer did pull requests on our manifest, but submitted issues with what changed (urls, ettc.) and versionNumber : 0.6.1, I would think would trigger the rebuild. seeing that there 14 open tickets for people waiting to get their plugins updated, something doesn't seem quite right

[2018-03-31 02:46] phdsg commented on #353
@AndrewBelt do you plan on building at a fixed time every day?

ref: https://github.com/VCVRack/community/issues/405

[2018-03-31 08:25] AndrewBelt commented on #405
April 4 at the latest.
Currently I think there are no repos out of sync with their builds. https://github.com/VCVRack/community/pull/403 would make two of them.

[2018-03-31 08:29] AndrewBelt commented on #404
Manifests with `"status": "available"` get an add button.
The Build Team sets that flag, and the ball gets rolling when the Review Team #354 starts work on a plugin.

[2018-03-31 08:33] AndrewBelt commented on #353
No, it will be sporadic until I fully automate the process.

[2018-03-31 14:01] squinkylabs commented on #404
Nice! tx.

[2018-03-31 15:46] almostEric commented on #405
Hi Andrew,

I updated the version of Frozen Wasteland (through Issue #387) hoping a new build would be done because 0.6.0 didn’t use my latest code. From reading the issues, there are a lot more than two out of sync. Appreciate all your work – are you the only one doing library builds? I thought you had some help now?

Eric

From: Andrew Belt <notifications@github.com>
Sent: Saturday, March 31, 20

[2018-03-31 17:20] MarcBoule commented on #356
I have added a new module to my plugin and would like to request an update. The version should be bumped up to 0.6.1, and the source corresponds to my current master at
https://github.com/MarcBoule/ImpromptuModular
Thanks!

[2018-03-31 17:35] AndrewBelt commented on #405
The submodule commit hash in the community repository for FrozenWasteland is 1b3f14483d1a005d6693c4ccff74b07029f1c3ff. This needs to be updated, but a Review team member has not updated it yet.

[2018-03-31 21:35] ValleyAudio opened #406 "Valley 0.6.1"
name: Valley
author: ValleyAudio
license: BSD-3-Clause, GPL-3.0-only
contactEmail: valley.audio.soft@gmail.com
pluginUrl: https://github.com/ValleyAudio/ValleyRackFree
authorUrl: https://github.com/ValleyAudio/ValleyRackFree
manualUrl: https://github.com/ValleyAudio/ValleyRackFree
sourceUrl: https://github.com/ValleyAudio/ValleyRackFree
donateUrl: https://www.paypal.me/valleyvcv
latestVersion: 0.6

[2018-03-31 21:36] #406 closed

[2018-03-31 21:37] ValleyAudio opened #407 "Valley"
name: Valley
author: ValleyAudio
license: BSD-3-Clause, GPL-3.0-only
contactEmail: valley.audio.soft@gmail.com
pluginUrl: https://github.com/ValleyAudio/ValleyRackFree
authorUrl: https://github.com/ValleyAudio/ValleyRackFree
manualUrl: https://github.com/ValleyAudio/ValleyRackFree
sourceUrl: https://github.com/ValleyAudio/ValleyRackFree
donateUrl: https://www.paypal.me/valleyvcv
latestVersion: 0.6

[2018-04-01 04:38] mdemanett commented on #405
I reviewed Eric's code and filed a PR to update the module pointer (the manifest is already done).

Andrew, let me know if I've misunderstood what needed to be done here.

[2018-04-01 04:58] mdemanett commented on #356
@MarcBoule  - you should update your Makefile to bump VERSION to 0.6.1.  Your module went out to the package manager already as 0.6.0 -- so the review/build process needs a version bump to work, and the new version needs to match VERSION in the Makefile.

@AndrewBelt I reviewed the code and it's good...but will hold off on a PR pending the Makefile update.  Set me straight if I've got this wrong.

[2018-04-01 05:01] AndrewBelt commented on #356
@mdemanett Looks like you're all correct. Yes, everyone needs to update their version or the plugin manager will not trigger an update.

[2018-04-01 09:01] phdsg commented on #407
`Makefile` in all branches still has `VERSION = 0.6.0`

[2018-04-01 09:20] ValleyAudio commented on #407
@phdsg Now fixed.
Out of interest, which branch are you building from?

[2018-04-01 09:26] ValleyAudio commented on #407
Can you switch to master as that's the most up to date? Or is that not best practice?

[2018-04-01 09:30] phdsg commented on #354
do we check if the code builds?

[2018-04-01 09:55] phdsg commented on #407
changed it. don't know about best practice, but most submodules point to the master branches.

[2018-04-01 10:16] phdsg commented on #352
case: #398
dev requested addtition. manifest was created and accepted. thread says "updated information"...
is this the point where the review team picks up and creates the submodule?

[2018-04-01 13:15] MarcBoule commented on #356
My bad, I totally forgot about that one. thanks to both of you for the follow up, it is now fixed. :+1:

[2018-04-01 13:19] MarcBoule commented on #356
By the way, it's good that our Plugin's issue remain permanently open, it helps to remember these things so they don't happen again. And to answer a question from @AndrewBelt in another issue, if the author accidentally deletes his or her Plugin issue, they can indeed re-open it.

[2018-04-01 15:40] AndrewBelt commented on #407
Doesn't really matter. Rack itself uses the `v0.6` branch instead of `master` for the latest 0.6-compatible code.

[2018-04-01 16:18] AndrewBelt commented on #352
The Library and Review teams can work in parallel. If you want to act on behalf of both teams, you can combine your commit as long as you follow both workflows (e.g. acknowledge that the repo has been reviewed).

[2018-04-01 17:38] phdsg commented on #407
btw. what's up with #385 ?

[2018-04-01 17:39] AndrewBelt commented on #385
Duplicate of #407

[2018-04-01 17:39] #385 closed

[2018-04-01 17:42] ValleyAudio commented on #407
@phdsg I was under the impression that Rack won't see my updated code (as in the updated submodules on the build teams side) unless it was "updated" to 0.6.1

[2018-04-01 17:48] phdsg commented on #407
@ValleyAudio for your next update just reuse this issue here.

discussion on that: https://github.com/VCVRack/community/issues/352#issuecomment-375733737

[2018-04-01 17:53] ValleyAudio commented on #407
Ah I missed that part

[2018-04-01 17:55] AndrewBelt commented on #407
Added 97485b1 to README for clarity

[2018-04-01 18:00] mdemanett commented on #384
Hi @jhoar - please update your Makefile to have VERSION 0.6.1.  This will unblock the review/build process -- a version of your module already went out to the package manager as 0.6.0, and so to get a new one out, the version needs to bump up, and that new version needs to match the Makefile.  More discussion at #356.

[2018-04-01 18:05] mdemanett commented on #388
Hey @squinkylabs - please do update your Makefile VERSION to 0.6.1.  That will let things go forward; same reasons as on #356.

[2018-04-01 18:19] phdsg commented on #352
creators can reopen their issues unless you closed them, right?
i think it'd be good to encourage devs to close their issue unless there's something to do...
just for readability in the issue tracker.

[2018-04-01 18:24] AndrewBelt commented on #352
@phdsg Yes, that's what the test at #393 concluded.
I'm writing a better documentation for plugin developers.

[2018-04-01 18:42] mdemanett commented on #391
Hi DomiKamu -- I'm trying to help get everyone requesting a module update unblocked for the review/build process.

With your module, it looks like the code you tagged as 0.6.0 is newer than what went out to package manager.  But the package manager version is also called 0.6.0, and the version needs to be bumped before that can update.

Some other devs have the same problem and just need to bump t

[2018-04-01 18:45] mschack commented on #398
Note I have made an update in the meantime, this is now v0.6.1.  if you require me to add a new issue for this, then I will.
Thanks

[2018-04-01 18:51] mdemanett commented on #393
@AndrewBelt this would be good to go for review/build, if x.y.z.w versions will work (0.6.0.2 here)?

[2018-04-01 18:53] squinkylabs commented on #388
master now updated to 0.6.1.

[2018-04-01 18:56] mdemanett commented on #397
Hello @The-XOR -- please update your Makefile to bump the VERSION to 0.6.1 -- this will unblock the review/build process.  Same deal as at #356.

[2018-04-01 18:57] phdsg commented on #398
damn. i just filed PR for the addition of your plugin. but i was still at 0.6.0.

reuse this issue for all further updates.

[2018-04-01 19:02] phdsg commented on #388
@mdemanett are you handling the ones you pinged?

[2018-04-01 19:06] phdsg commented on #398
other than that, your `Makefile` needs to reflect the correct version.

[2018-04-01 19:07] mschack commented on #398
aw sorry... will fix the makefile

[2018-04-01 19:09] phdsg commented on #398
in your case i guess it doesn't matter too much, since the plugin is a new addition, but future updates will only succeed if you increase the version.

[2018-04-01 19:14] mschack commented on #398
ok, I updated the version anyway... thank you.

[2018-04-01 19:31] mdemanett commented on #388
I can, sure.  But also don't feel like you need to wait on me if one comes ready I haven't gotten at it yet.  I'm looking at squinky now.  I think the only other one ready to review is cf, though you might know better.

[2018-04-01 19:48] phdsg commented on #392
wonder why this was disabled in the first round...

[2018-04-01 19:53] phdsg commented on #398
added in #412

[2018-04-01 19:59] phdsg commented on #391
@mdemanett looks fixed now

[2018-04-01 20:04] phdsg opened #415 "PvC"
current:
[code]

[2018-04-01 20:17] squinkylabs commented on #388
thanks for the help and support everyone!

[2018-04-01 20:29] phdsg commented on #352
do you handle the free closed-source plugins like #376 and others?

[2018-04-01 21:57] DomiKamu commented on #391
I've wait for many days... now they're updated to 0.6.1 and ready.
Thanks.

[2018-04-01 22:02] AndrewBelt commented on #352
I haven't thought of a procedure for that yet.

[2018-04-01 22:57] ValleyAudio commented on #407
@phdsg I've added new updates to my code. You can use the 0.6.1 version number in the manifest since that's a real update.

"repoVersion" : 0.6.1

[2018-04-01 23:07] phdsg commented on #407
mhh, the current manifest already has the repoVersion bumped.
i'm a bit unsure if i should just update the repo pointer at this point or if you should bump to 0.6.2. @AndrewBelt ?!

[2018-04-01 23:11] ValleyAudio commented on #407
@phdsg I should just probably go to 0.6.2 to save headaches here if that helps? Sorry for this problem guys.

[2018-04-01 23:16] phdsg commented on #407
@ValleyAudio no problem. it's good that we have these cases, so everything can be ironed out for a flawless workflow in the future.
anyway, i suspect the new commits have to be reviewed either way.
as there's no build of 0.6.1 yet it probably doesn't matter what version the next build has as long as it's higher than the latestVersion.

[2018-04-01 23:18] ValleyAudio commented on #407
@phdsg okay, I'll push the changes then so that we're all back on the same page again.

"repo Version" : 0.6.2

[2018-04-01 23:24] phdsg commented on #407
@ValleyAudio allright. i probably won't get to update it today anymore though.

[2018-04-01 23:29] ValleyAudio commented on #407
@phdsg All in good time :)

[2018-04-01 23:45] AndrewBelt commented on #393
Yeah, that's fine, although I don't know why plugin developers do it. It could be `0.6.bicycle`, as long as it starts with `0.6.`

[2018-04-01 23:52] AndrewBelt commented on #352
Thanks for the help so far guys! To organize team members, state your name and I'll add you to the first post as a member.

[2018-04-01 23:52] AndrewBelt commented on #354
Thanks for the help so far guys! To organize team members, state your name and I'll list your username in the first post.

[2018-04-02 00:12] phdsg commented on #407
updated in https://github.com/VCVRack/community/commit/43bb9ce0432849031426be3a5b8a1d335a4249b9

[2018-04-02 00:28] AndrewBelt commented on #353
I'm close to actually making an automated build system running on Arch Linux
- mac: [osxcross](https://github.com/tpoechtrager/osxcross) with MacOS 10.11 SDK
- win: [mingw-w64-gcc](https://aur.archlinux.org/packages/mingw-w64-gcc/) from the AUR
- lin: system's GCC with voodoo to link to glibc 2.23.

Still working on win and lin.
Still need to write scripts to look at the manifests for `repoVersion

[2018-04-02 00:28] AndrewBelt commented on #405
Build Team progress https://github.com/VCVRack/community/issues/353#issuecomment-377828685

[2018-04-02 00:46] AndrewBelt commented on #404
Updated https://github.com/VCVRack/community#for-plugin-developers with the complete instructions for plugin developers to add/update their plugins.

[2018-04-02 00:46] AndrewBelt commented on #404
I'll close this now.

[2018-04-02 00:46] #404 closed

[2018-04-02 00:47] AndrewBelt commented on #248
Updated https://github.com/VCVRack/community#for-plugin-developers with the complete instructions for plugin developers to add/update their plugins. VCV community members should read this as well.

[2018-04-02 01:27] stutzjr opened #417 "Is there any plan to show "date added" or "date updated" on the plugin manager page?"
Personally I don't like to be overwhelmed with too many module plugins all in one hit.
I try to keep my list short, and don't keep plugins I'm not expecting to use in the near future.
I don't mean to comment on the quality of other user's additions, I just want to focus on modules that suit my current usage - rather than "install everything" and then start picking favourites.
In my own time I cont

[2018-04-02 01:54] dllmusic commented on #389
Updating info as requested...

version 0.6.1
hash : commit 59c14cf1064f4b3b539228cf728b56d4bc970348
branch master
https://github.com/dllmusic/moDllz

Thank you

[2018-04-02 06:25] JerrySievert commented on #405
any thoughts on going back to a more developer in control release process?  this isn't working, and I already have a couple of modules that I haven't wanted to update to 0.6, and am not feeling good about updating or adding to the rest of my modules because it has been so opaque,

I'd love to have some sort of idea of what's going on again, please.

[2018-04-02 07:29] jhoar commented on #384
Done - thanks!

[2018-04-02 08:02] sebastien-bouffier opened #418 "Bidoo"
name: Bidoo
author: Sébastien Bouffier
license: BSD 3-Clause
contactEmail: sebastien.bouffier@gmail.com
pluginUrl: https://github.com/sebastien-bouffier/Bidoo
authorUrl: https://github.com/sebastien-bouffier
manualUrl: https://github.com/sebastien-bouffier/Bidoo/wiki
sourceUrl: https://github.com/sebastien-bouffier/Bidoo.git
donateUrl: https://paypal.me/sebastienbouffier
latestVersion: 0.6.1

[2018-04-02 08:06] sebastien-bouffier commented on #418
Last version information
Version: 0.6.1
Branch: master
Commit: 12f6750b076111d3bf43848a1c8106f24736ffaa

[2018-04-02 10:09] phdsg commented on #418
`Makefile` in  branch/tag `0.6.1` says `VERSION 0.6.0.1`

[2018-04-02 12:29] AndrewBelt commented on #405
@JerrySievert Can you be patient? I'm with my family for Easter, and you're expecting me to release builds for your plugin, a task that I don't get paid a penny for?

[2018-04-02 12:36] phdsg commented on #354
@AndrewBelt does "branch" in .gitmodules have to point to the specific commit we checked out in the repo?

[2018-04-02 12:39] AndrewBelt commented on #354
When you enter a submodule directory and check out a particular commit, that commit is saved when committing in the parent repository.

[2018-04-02 12:41] phdsg commented on #405
@JerrySievert also, what exactly is not working? you want your current modules pulled from the plugin manager? or an update? please file an issue for the plugin as described here: https://github.com/VCVRack/community#for-plugin-developers

[2018-04-02 12:46] phdsg commented on #354
yea, that worked for the previous PRs i did.
but with the moDllz i had a problem...
did what you just said. entered repo, pulled, checked out the commit...
after commiting and pushing, i still had unstaged changes in that repo i couldn't solve. some modified or deleted svg :(
so i reverted this one for now and try again.

[2018-04-02 12:50] phdsg commented on #418
updated: https://github.com/VCVRack/community/commit/c72ef3015969563d3373e4f6d55a17d66ad32880

[2018-04-02 12:58] NonLinearInstruments opened #420 "NonLinearInstruments"
name: NonLinearInstruments
author: Ignasi Alvarez Garriga
license: BSD-3-Clause
pluginUrl: https://github.com/NonLinearInstruments/NLNRI_VCVRackPlugins
authorUrl: https://www.ignasialvarez.cat
manualUrl: https://github.com/NonLinearInstruments/NLNRI_VCVRackPlugins/blob/master/README.md
sourceUrl: https://github.com/NonLinearInstruments/NLNRI_VCVRackPlugins
latestVersion: 0.6.0

[2018-04-02 13:12] dllmusic commented on #354
...yesterday I found out there were unused svgs, (with same names but different cap)...so I cleaned them out to avoid issues... After that commit I posted the hash here...https://github.com/VCVRack/community/issues/389

[2018-04-02 13:21] NonLinearInstruments commented on #420
version: 0.6.0
commit: 551e5f84b49849f2b472214992ee8a406791ee24
branch: master

[2018-04-02 13:25] phdsg commented on #354
ah. this repo was already bumped to 0.6.1 before (but not yet made available)...
will take another look.

[2018-04-02 13:40] phdsg commented on #354
anyways, for the future: how do we deal with situations like that @AndrewBelt ?
when a dev requests multiple updates between builds, one version bump per request or one per build?

[2018-04-02 14:21] JerrySievert commented on #405
@phdsg and @AndrewBelt I think you both have just underscored some of the issues - a request to remove the opaqueness and go back to the developers being in control is suddenly a problem.  I don't ask money for the plugins I develop (or hell, from the few millions users for the open source projects I maintain myself), and am not asking you to spend your own time maintaining my work, I'd be very ha

[2018-04-02 14:31] phdsg commented on #405
@JerrySievert not sure, what you mean by "opaqueness"...
what exactly is unclear about the process?

[2018-04-02 14:51] DomiKamu commented on #391
Obsolete, closing this, opening another. Also link to manual wasn't compliant as indicated.

[2018-04-02 14:52] DomiKamu opened #423 "Ohmer"
name: Ohmer Modules
author: Dominique Camus
license: BSD-3-Clause
contactEmail: domi.camus@free.fr
pluginUrl: https://github.com/DomiKamu/Ohmer-Modules
authorUrl: https://github.com/DomiKamu
manualUrl: https://github.com/DomiKamu/Ohmer-Modules/blob/master/README.md
sourceUrl: https://github.com/DomiKamu/Ohmer-Modules.git
donateUrl: https://www.paypal.me/DominiqueCAMUS
latestVersion: 0.6.2

[2018-04-02 14:54] phdsg commented on #423
please reuse #391
as described here: https://github.com/VCVRack/community#for-plugin-developers

[2018-04-02 14:54] JerrySievert commented on #405
@phdsg well, all of it? current status, how to get releases out without issues, how any sort of feedback process works without issues, build systems in general, that all of the feedback is missing from the process is a problem, and when there is feedback there seems to be friction.

that we're having this conversation is just silly.

[2018-04-02 14:54] phdsg commented on #423
duplicate of #391

[2018-04-02 16:28] DomiKamu commented on #423
From Plugins page it's an outdated, version (v0.6.0), five or six days later!
Also, link to manual from Plugins page remains bad.

[2018-04-02 16:29] DomiKamu commented on #391
How long this release will be published? TIA

[2018-04-02 19:05] AndrewBelt commented on #405
@JerrySievert Do you not remember the "red dot" issues with Rack 0.5? 75% of those issues were because plugin developers were not using `make dist`, using different ways to create ZIP packages, forgetting to synchronize the VERSION in their Makefile, and using incorrect plugin slugs. Basically, I learned that a developer-controlled manifest database and build system was completely unviable (I shou

[2018-04-02 19:23] AndrewBelt commented on #354
Technically if a build hasn't been made yet (you can tell because `latestVersion != repoVersion`), the plugin developer doesn't need to bump the version unless the Build Team is in the process of making a build at the same time. So, accept the update but warn the developer, and if the new commit hash doesn't make it, the developer will complain after noticing that the build is out of date and we'l

[2018-04-02 19:24] AndrewBelt commented on #391
Should be finished by April 4. #353

[2018-04-02 20:07] phdsg commented on #420
updated: https://github.com/VCVRack/community/commit/e83f11ca79e9d7ce7cf63231e0327ff5632a3321

[2018-04-02 20:07] AndrewBelt commented on #417
Duplicate of #266
Added new thoughts to that issue.

[2018-04-02 20:07] #417 closed

[2018-04-02 20:10] AndrewBelt commented on #266
Because of the switch to a centralized build system, the Build Team is now able to add a certain timestamps to the manifest upon certain events. I think we only need one, `buildTimestamp` which is set to "now" when `latestVersion` is updated.

[2018-04-02 20:31] phdsg commented on #354
ok, tried once more to update the moDllz repo...
starting from clean working tree
`cd repos/moDllz`, `git pull`, `git checkout 59c14cf`, `cd ../..`
gets me here:
[code]
after `git add repos/moDllz` however, it still says:
[code]

[2018-04-02 20:42] JerrySievert commented on #405
large developer controlled ecosystems (node, postgres, python, perl, etc) would likely disagree with that assertion, but those ecosystems have more stable targets, which might be part of the issue - you have to understand that we're compiling against a fast moving target, that hasn't seemed stable, and when anyone has brought it up, it has been "their" problem, because they tried to bring up issue

[2018-04-02 21:04] AndrewBelt commented on #405
I've answered your question, closing discussion.

[2018-04-02 21:04] #405 closed

[2018-04-02 21:06] JerrySievert commented on #405
my question wasn't why this issue was opened.  par for the course?

[2018-04-02 21:06] phdsg commented on #405
@JerrySievert i still don't get it. in your first post here you said "this isn't working" and something about not feeling good updating your modules...
so what exactly is wrong with the current version of your modules on the plugin manager and what can we do to change that? update them? remove them?

[2018-04-02 21:07] JerrySievert commented on #405
@phdsg I asked for transparency, and instead got developer blame - I'm just looking for some answers and not getting them.

[2018-04-02 21:08] phdsg commented on #405
the initial question was answered already before you chimed in: https://github.com/VCVRack/community/issues/405#issuecomment-377676393

[2018-04-02 21:10] JerrySievert commented on #405
<img width="398" alt="screen shot 2018-04-02 at 2 09 12 pm" src="https://user-images.githubusercontent.com/471270/38216390-7a24b494-367f-11e8-8b2e-5acfb63acb10.png">

hm, somehow I thought there would be some sort of discussion here.

[2018-04-02 21:10] almostEric opened #425 "Clarifying update procedure"
My 0.6.1 never got built, and now I have a 0.6.2 release. I understand that each developer gets one "issue" to notify library team. My question is do I just update my original post, or do I tack it on the end?

[2018-04-02 21:12] AndrewBelt commented on #405
@JerrySievert If you have a withstanding question, please open your own issue. This issue discussion has been concluded when the ETA was stated.

[2018-04-02 21:15] phdsg commented on #425
i think i get notifications either way.
maybe looks cleaner if the up-to-date info is always on top.

[2018-04-02 21:16] AndrewBelt commented on #425
I'd say post a new comment in your plugin thread with the build information just to keep a history.

[2018-04-02 21:27] AndrewBelt commented on #425
It's fine until it actually starts slowing your browser down. Since we won't be posting images, that would happen aroud 300-500 posts, in which case you could simply close the issue and create a new one with the same title.

[2018-04-02 21:27] phdsg commented on #425
also i believe that older content gets folded away in longer threads...

[2018-04-02 21:28] AndrewBelt commented on #425
Yeah, I think that's a brand new GitHub feature.

[2018-04-02 21:28] phdsg commented on #387
updated: https://github.com/VCVRack/community/commit/6ab590939eb3245a06e1e1397be5c72ca3dfc150

[2018-04-02 21:38] almostEric commented on #425
ok, well for 0.6.2 I just updated my original post, since it hasn't been release yet anyway. I'll tack on at end going forward. Can the update plugin instructions be, um, updated? I think making everything as clear as possible for developers goes a long way

[2018-04-02 21:47] phdsg commented on #396
updated

[2018-04-02 21:56] AndrewBelt commented on #425
Edited in c11f14d. Let me know if this is not what you meant by "update plugin instructions".

[2018-04-02 21:59] phdsg commented on #384
updated: https://github.com/VCVRack/community/commit/918539d7e9e735964c24ca1d730437dc5e438324

[2018-04-02 22:03] almostEric commented on #425
Much better

From: Andrew Belt <notifications@github.com>
Sent: Monday, April 2, 2018 2:57 PM
To: VCVRack/community <community@noreply.github.com>
Cc: Eric Sterling <eric@digitalpour.com>; Author <author@noreply.github.com>
Subject: Re: [VCVRack/community] Clarifying update procedure (#425)

Edited in  <https://github.com/VCVRack/community/commit/c11f14d88e14de3cbe9e7389fd6d1a14940de7b9> c11f14d.

[2018-04-02 22:14] AndrewBelt commented on #354
When you `git commit` after adding the update, what does `git status` say?

[2018-04-02 22:19] phdsg commented on #354
[code]

[2018-04-02 22:38] AndrewBelt commented on #354
Looks like your changes were successfully committed. If you enter the `moDllz` directory, which content is modified? (`git status`)

[2018-04-02 22:40] phdsg commented on #354
[code]

[2018-04-02 22:44] phdsg commented on #354
is this a capitalization thing?

[2018-04-02 22:50] phdsg commented on #354
after `git clean -fdx` and `git reset --hard HEAD` in the moDllz repo:
[code]

[2018-04-02 23:03] phdsg commented on #354
yeah, seems this is a moDllz vs moDLLz filename conflict... hate that about windows!
pull request should be fine tho, right?

[2018-04-02 23:07] phdsg commented on #389
updated: https://github.com/VCVRack/community/commit/e31fbb73226f78cef2ff826fbe258794615f0c13

[2018-04-03 00:02] phdsg commented on #393
updated: https://github.com/VCVRack/community/commit/37a08aba782e3f75397d6156e2e89fc62adcb30a

[2018-04-03 00:36] phdsg commented on #391
updated: https://github.com/VCVRack/community/commit/fc3039e89ba76c1cc3cba812a4a66ea43ae37f41

[2018-04-03 00:54] phdsg commented on #415
let's say, i wanted my plugin listed @ vcvrack.com/plugins with current version info, but not distributed in binary form via the plugin manager.

[2018-04-03 00:56] AndrewBelt commented on #415
You can request to remove your repo from the Plugin Manager. The Build Team (me) will remove the `"status": "available"` property.

[2018-04-03 00:57] phdsg commented on #415
and for version updates? who changes "latestVersion"?

[2018-04-03 01:06] AndrewBelt commented on #415
Then it's "free" and not locked down by the Build Team. You should be able to change it safely.

[2018-04-03 01:26] phdsg commented on #415
would it be a bad idea to have that part of the "old system" where devs would submit a PR to change latestVersion. then the teams pick up and change repoVersion if the plugin is in the build cycle and change repoVersion and then buildteam sets distVersion or buildVersion?

[2018-04-03 03:32] cschol commented on #269
Sorry, I have been out of town for a few days. Plugin list has been updated.

@phdsg qwelk and LFSR should be ready for integration into the community repository.

[2018-04-03 03:40] cschol commented on #353
@AndrewBelt Cool! I tried `osxcross`, but never could get it to build. If you put all of this in a Ubuntu 16.04 Docker container you wouldn't even need the voodoo link for Linux. Or is this running in a VM?

[2018-04-03 04:02] cschol commented on #352
Great work! I am going to catch up and mark all 238971231 GitHub notifications as read. If you need help with any specific plugin let me know.

[2018-04-03 04:04] AndrewBelt commented on #415
Unfortunately that's too complicated. After thinking about this, I complately disagree with my previous message. `"latestVersion"` should be removed for all manifests that are not distributed by the Plugin Manager. Meaning, it should only be present if `"status": "available"`. I will remove this if I remember today.

[2018-04-03 04:07] AndrewBelt commented on #269
@cschol Welcome back!

[2018-04-03 04:12] AndrewBelt commented on #353
osxcross works great for me right out of the box. No Docker needed. In fact, the multiarch/crossbuild Docker image doesn't work because its clang version is too old or something.

The AUR mingw build is failing locally. Still pushing it through each issue, but this might be too much time already. multiarch/crossbuild is really old and doesn't support all of C++11. Surely someone has made a pre-bui

[2018-04-03 04:17] cschol commented on #353
Weird that mingw build is failing. Didn't someone in another thread a while back say that he had a working Windows build in a Docker image?

Here is what I have in my notes from a clean Ubuntu 16.04 (Desktop) install:
[code]

[2018-04-03 04:38] phdsg commented on #415
allright. can i have my "plugin" label now :D

[2018-04-03 04:50] AndrewBelt commented on #415
"Plugin" label?

[2018-04-03 04:51] phdsg commented on #415
for the issue :)

[2018-04-03 04:52] AndrewBelt commented on #415
Ah

[2018-04-03 05:03] phdsg commented on #415
thx.
so to sum:
if a dev requests removal from the manager but still wants to be listed on the plugins page,
we remove the repo and submodule and the manifest gets stripped of the latestVersion and status?

[2018-04-03 05:13] AndrewBelt commented on #415
Build Team will handle remove of the actual build. Yes, removing `lastestVersion` and `status`, and also removing the packages from the server.

[2018-04-03 07:01] cfoulc commented on #392
so do i. trying my best, but i don't even know if i just have to wait or if i did something wrong...

[2018-04-03 07:01] cfoulc commented on #392
(except bad jokes :p )

[2018-04-03 07:07] AndrewBelt commented on #392
I don't remember, but I disabled a few plugins that didn't build successfully for some reason. I suppose we'll find out soon.

[2018-04-03 09:19] cfoulc commented on #392
i do yet understand that disabling cf modules from the manager was a quick solution so that it stopped downloading cf0.5.16 (which didn't build right, for sure) and deleting manually installed cf0.6.0...

[2018-04-03 09:42] The-XOR commented on #269
makefile versioned 0.6.1

[2018-04-03 10:12] AndrewBelt commented on #398
Going to have to disable automatic builds for this repo temporarily. The repo size is 150MB, which is huge and is killing the build times.
@phdsg I believe there's a way to enable shallow submodule checkouts?
Either way, @mschack should find the huge commits and remove them. https://blog.ostermiller.org/git-remove-from-history

[2018-04-03 11:17] AndrewBelt commented on #393
Removed repo submodule because libsamplerate doesn't build on my Mac build system yet. This should be an easy fix using @jeremywen's methodhttps://github.com/VCVRack/Fundamental/issues/38#issuecomment-377720447

[2018-04-03 11:20] AndrewBelt commented on #418
Removed repo from submodule. This one looks nearly impossible to build automatically because of all the weird dependencies, so I'm going to leave this out of the Plugin Manager and treat it like a closed-source plugin when a procedure is ready. https://github.com/VCVRack/community#addingupdating-your-plugins-build-for-closed-source-plugins

[2018-04-03 11:23] AndrewBelt commented on #384
Updated build.

[2018-04-03 11:23] AndrewBelt commented on #387
Updated build.

[2018-04-03 11:23] AndrewBelt commented on #420
Updated build.

[2018-04-03 11:23] AndrewBelt commented on #391
Updated build.

[2018-04-03 11:23] AndrewBelt commented on #407
Updated build.

[2018-04-03 11:23] AndrewBelt commented on #392
Updated build.

[2018-04-03 11:23] AndrewBelt commented on #389
Updated build.

[2018-04-03 11:23] AndrewBelt commented on #388
Updated build.

[2018-04-03 11:40] baconpaul opened #433 "BaconMusic"
This is the standing issue for BaconMusic plugin, so I can communicate with the Community team, per the README.

https://github.com/baconpaul/BaconPlugs

[2018-04-03 11:42] phdsg commented on #398
@AndrewBelt ok. i'll take a look.

[2018-04-03 11:44] baconpaul commented on #433
Hi folks!

I just release v0.6.1 of my module set, adding 3 new modules which implement the NES oscillator set and things like that. I also updated the documentation, added a contributor agreement, and did a bunch of little cleanups.

Per the readme:

* The new version is v0.6.1
* The transaction: b30dad642d8f57eed78d241a4251f96c1ec3319d
* The branch is release_v0.6.1

That transaction is the head

[2018-04-03 11:45] DomiKamu commented on #391
Thanks Andrew! do I close this issue?

[2018-04-03 11:53] phdsg commented on #391
yes. re-open for any further updates.

[2018-04-03 12:13] phdsg commented on #418
@AndrewBelt is there a way for a dev to check if their code will build in the buildteam's environment!?

[2018-04-03 12:25] sebastien-bouffier commented on #418
Hello,
@AndrewBelt I use GLFW, maybe not correctly, to manage custom key commands or mouse clicks to increase the "usability" of my plugins.
Regarding the build issue I just pushed a new version of my makefile which is closer to the previous one where curl is dyn linked based on the curl you have in Rack and everything works fine under W10 ans Lin. I hope some user will test asap under os x.
I thi

[2018-04-03 13:25] phdsg commented on #398
ok, cloning this repo with `depth=1` significantly decreases the volume (to ~5mb).

[2018-04-03 14:51] AScustomWorks commented on #393
Agree, but I don't have the slightest idea about where/how to make those changes, just followed your example  on Fundamental.

[2018-04-03 15:28] phdsg commented on #396
@AndrewBelt was there something wrong building this?

[2018-04-03 15:28] lindenbergresearch opened #435 "LindenbergResearch"
Version : 0.6.0
Hash: 1bb8a4d

I hope this is ok, if you need more info please tell me.
All links and versions can be found at my git:

https://github.com/lindenbergresearch/LRTRack

Thanks for updating.

[2018-04-03 15:35] phdsg commented on #435
currently there's already a build using version 0.6.0.
in order to trigger a new build in the next build cycle you have to bump the version.

[2018-04-03 15:56] cschol commented on #352
I used to be able to add tags to issues filed, e.g. plugin, but can't anymore. @AndrewBelt Are you taking care of that?

[2018-04-03 16:32] mschack commented on #398
I used to save a zip of the build folder in my commits, do you want me to remove them?

[2018-04-03 16:48] cschol commented on #398
Please. That is a very bad practice, especially with git, where you always download ALL of the history (unless you do a shallow clone). Thank you!

[2018-04-03 18:48] dllmusic commented on #389
Thanks...closing until next update.

[2018-04-03 18:50] AndrewBelt commented on #418
@phdsg Not really at the moment. It'd be nice to release a single Docker image for all three OS's and then a nice Makefile, but I'm not that organized yet.

@sebastien-bouffier If you're just using key commands, you don't need GLFW but instead `onHoverKey()` to accept keys when your ModuleWidget is hovered with the mouse.
Perhaps a better solution is to try to statically link as many libraries as

[2018-04-03 18:52] AndrewBelt commented on #352
I've disabled everyone's write access to this repo until later. Still need to make sure everything will be work properly when PRs are no longer needed.

[2018-04-03 18:54] cschol commented on #352
Ah, cool. No problem.

[2018-04-03 19:28] AndrewBelt commented on #356
Updated build, close until you have a new update.

[2018-04-03 19:28] AndrewBelt commented on #396
@phdsg It was actually a problem with my own build script.

Updated build, close until you have a new update.

[2018-04-03 19:30] MarcBoule commented on #356
Sounds good!

[2018-04-03 20:11] sebastien-bouffier commented on #418
@AndrewBelt I will try to change my approach by using your recommendation. But to make the full story : I have a mixer/patcher/sequencer ACnE that I use a lot and I implemented a simple shortcut that mimic your right mouse click that set knobs to 0 but mine is a center click that set knobs to full value. This is convenient for fast patching. But it was a semi good idea because mac users haven't a

[2018-04-03 20:33] AndrewBelt commented on #418
You can use `windowIsShiftPressed()` instead of the glfw calls, and then you don't need GLFW at all.

[2018-04-03 20:37] sebastien-bouffier commented on #418
Haaaaaaaaaaa I did not see that function ... thanks so much.

[2018-04-03 22:44] AndrewBelt commented on #418
Actually, I'm switching to static builds on all OS's for Rack 0.6.1. It doesn't break ABI compatibility, and you'll be able to call glfw functions without compiling it yourself.

[2018-04-03 23:01] sebastien-bouffier commented on #418
thanks a lot Andrew

[2018-04-03 23:30] koralfx opened #436 "Koralfx-Modules"
Change slug name (from KoralfxVCV).
{
  "name": "Koralfx Modules",
  "author": "Tomek Sosnowski",
  "authorEmail": "koralfx@gmail.com",
  "license": "BSD-3-Clause",
  "pluginUrl": "https://github.com/koralfx/Koralfx-Modules/",
  "authorUrl": "https://github.com/koralfx/",
  "manualUrl": "ttps://github.com/koralfx/Koralfx-Modules/blob/master/README.md",
  "sourceUrl": "https://github.com/koralfx/Ko

[2018-04-04 03:34] almostEric commented on #387
latestVersion : 0.6.3
commit hash:  bb42518490a9bdc56bd01d260214c6e1a5e62e4b
branch: Master

[2018-04-04 06:16] phdsg commented on #425
@AndrewBelt the website needs an edit too (https://vcvrack.com/plugins.html). at the bottom it says:

[2018-04-04 13:27] phdsg commented on #397
updated: https://github.com/VCVRack/community/commit/fd939843b1e5ce5492f0dc997f875c635d96b59c

@The-XOR srry only saw your comment in #269 today
next time, reply here for a (probably) faster update

[2018-04-04 14:39] phdsg commented on #387
updated: https://github.com/VCVRack/community/commit/b6b1339c5f29e5d82df428bdcf5b438ec4c05bd9

[2018-04-04 18:16] phdsg commented on #436
@koralfx
before we can queue this for the next build cycle, there's a few things in your [`Makefile`](https://github.com/koralfx/Koralfx-Modules/blob/master/Makefile#L34-L49) that are incompatible with the current build system.
removing the marked lines should fix it.

[2018-04-04 20:12] sebastien-bouffier commented on #418
My pack builds now against the 3 platforms. I have a clean dist for each of them in my last [release](https://github.com/sebastien-bouffier/Bidoo/releases/tag/0.6.1).
Could you consider allowing usicians (users + musicians) to dl my pack via the standard tool please ?

Last version information
Version: 0.6.1
Branch: master
Commit: e82a658a88e3c7a27b6fbc97bf2b3def486a6e04

[2018-04-04 20:24] AndrewBelt commented on #352
@phdsg Good question. Yes, I'll handle everything for the open-source VCV plugins.

[2018-04-04 21:31] AndrewBelt commented on #398
[code]

[2018-04-04 21:33] AndrewBelt commented on #433
`make dist`:

[code]

[2018-04-04 21:49] baconpaul commented on #433
Oh shoot sorry. I renamed “doc” to “docs” in this release to follow a github recommendation.

I’ll name it back and repush the branch.

So sorry!

On Apr 4, 2018, at 17:33, Andrew Belt <notifications@github.com<mailto:notifications@github.com>> wrote:

make dist:

rm -rf dist
mkdir -p dist/BaconMusic
# Strip and copy plugin binary
cp plugin.dylib dist/BaconMusic/
x86_64-apple-darwin15-strip -S dis

[2018-04-04 21:54] AScustomWorks commented on #393
according to [45f6f7e](https://github.com/VCVRack/Fundamental/commit/45f6f7e85db4d19cbd78bf01d265ca94647fbc02)  my makefile should be ok now:

{
  "name": "AS",
  "author": "Alfredo Santamaria",
  "license": "MIT",
  "manualUrl": "https://github.com/AScustomWorks/AS/blob/master/README.md",
  "sourceUrl": "https://github.com/AScustomWorks/AS",
  "donateUrl": "https://www.paypal.me/frederius/",
  "l

[2018-04-04 21:56] koralfx commented on #436
Ok. Thx.

[2018-04-04 22:02] baconpaul commented on #433
So sorry. Updated the makefile and pushed it all to GitHub. The new transaction id is

6f235d1cff2b3d4cc8f334545ad36e8e0cbf1ccc

[code]

[2018-04-04 23:11] j4s0n-c opened #441 "trowaSoft"
- NEW VERSION: **0.6.1**
- the new commit hash: 39e48504ca48c8cab7d5c4c76f407257bf95bfcb
- branch: master

[code]

[2018-04-04 23:12] almostEric commented on #425
So, are the builds automated now, or is it still initiated manually?

[2018-04-04 23:16] AndrewBelt commented on #425
They'll always be kicked off manually, but everything's automated after that.

[2018-04-05 01:37] koralfx commented on #436
- NEW VERSION: 0.6.3
- the new commit hash: bb0204bf577a0007093a9734e669bf465fddd358
- branch: master

[code]

[2018-04-05 06:18] dllmusic commented on #389
fixed 3 wrong svgs wrongfully uploaded on previous version. Bumped version 1 digit...

version : 0.6.2
commit 4165f04295184a2f6f0292bcbd839ddc308a8ca2
branch master

Thanks

[2018-04-05 12:34] raincheque opened #442 "Qwelk"
commit: ed6a9d1c6a8075feef7177bac735986d782e0efc
branch: master

[code]

[2018-04-05 15:49] koralfx commented on #436
- NEW VERSION: 0.6.4
- the new commit hash: b0625c1ea1522ec4f8d61c6b3eb7f0d4ae5ef793
- branch: master

[code]

[2018-04-05 16:50] bafonso opened #443 "ErraticInstruments"
name: ErraticInstruments
author: Bruno Afonso
license: BSD-3-Clause
pluginUrl: https://github.com/bafonso/Erratic
authorUrl: https://brunoafonso.org
manualUrl: https://github.com/bafonso/Erratic/blob/master/README.md
sourceUrl: https://github.com/bafonso/Erratic
donateUrl: https://www.paypal.me/ErraticModules
latestVersion: 0.6.1

[2018-04-05 19:32] phdsg commented on #248
i feel this needs some more promotion. also, the opening posts could be updated...

[2018-04-06 04:40] almostEric commented on #387
latestVersion: 0.6.4
commit hash: 3a60ae219e7c3f7f02d8a4e9319ec11a69f33d66
branch: Master

[2018-04-06 08:31] modlfo commented on #377
Here are the necessary updates for the manifest file of the VultModulesFree

[code]

[2018-04-06 12:58] alto777 opened #446 "alto777_LFSR"
~ I didn't find a "permanent communication channel" thread, I think the current listing for alto777_LFSR is leftover from an old time pull request I thought had died in the 5->6 frenzy. So here I start it.

NEW VERSION: 0.6.01
the new commit hash: 9c21e187bcc916e175f5200ac8678a43481c383b
branch: master

{
  "name": "alto777 LFSR",
  "author": "Robert A Moeser",
  "authorEmail": "ram32768@gmail.com

[2018-04-06 18:52] mschack commented on #398
Did I screw something up when removing the build zips?

[2018-04-06 19:08] phdsg commented on #398
could be my screw-up too. not sure if i added the repo before or after your cleanup.
but i also can't reproduce the error. submodule updates fine here.

[2018-04-06 19:13] phdsg commented on #415
i disabled the git-pages website (`pluginUrl`).
see [first post](https://github.com/VCVRack/community/issues/415#issue-310349841) for requested changes.

[2018-04-06 20:16] AndrewBelt commented on #415
Fixed with 54d9ab0

[2018-04-06 20:18] phdsg commented on #415
thx.

[2018-04-06 20:18] #415 closed

[2018-04-06 20:21] phdsg opened #448 "Superbooth '18 meetup anyone!?"
don't know if here is the right place to ask this, but: who's coming?

[2018-04-07 13:34] Phal-anx commented on #376
forgot to include the sha256. Not sure if they are needed from my side but here you go...

win:
a934df9adb9c9b3b89a0fb2617e8e368dfffd7c81914825a9f49c477fe33aec6

lin:
5ef840954b122f94260e41af038d23667a6e4c686728bf65e66b684d06cb4ede

mac:
1563c9fb1bfb88503fc10061473cff132d4fa89c08fc75730449c48cb026d40b

I m gonna release v0.6.1 in a week or maybe 2. which means of course that you will get an update

[2018-04-07 17:01] WIZARDISHUNGRY commented on #448
I was on the fence about attending, but it looks like I won't be able to. This is definitely the right place to ask (IMO).

[2018-04-08 09:30] DomiKamu commented on #391
Ohmer plugin updated to 0.6.3, thanks in advance to consider it! ;)

[2018-04-09 12:31] koralfx commented on #436
- NEW VERSION: 0.6.7
- the new commit hash: 4340525a669294b8b893b951294bf24463ad91f8
- branch: master
[code]

[2018-04-09 16:53] AndrewBelt commented on #448
Not me unfortunately.

[2018-04-09 16:55] AndrewBelt commented on #436
No need to post the JSON, just the changes you need (e.g. updated to 0.6.7)

[2018-04-09 17:48] almostEric commented on #425
Are these builds going to be done on regular basis? My new version has been sitting unreleased for 4 days now, I see some other folks that have been waiting longer. If it is weekly, bi-weekly, whatever, just want to know what to expect.

[2018-04-09 23:27] AndrewBelt commented on #425
Yes, eventually. I'm trying to ramp up to once a day, but life responsibilities are getting in the way.

[2018-04-10 00:04] AndrewBelt commented on #448
New thread https://github.com/VCVRack/Rack/issues/902

[2018-04-10 00:04] #448 closed

[2018-04-10 00:05] AndrewBelt commented on #443
The lines
[code]
in Makefile reference the Rack directory with RACK_DIR so my scripts can't build them.

[2018-04-10 00:08] AndrewBelt commented on #441
I can't build this yet because glew32 and glfw3dll are not included in the Rack SDK.

[2018-04-10 00:27] AndrewBelt commented on #443
Something like

[code]

[2018-04-10 05:56] dizzisound commented on #443
@bafonso Sorry Bruno, I forgot the quotes, so as per Andrew asks, the line:
`LDFLAGS += -L$(RACK_DIR)/dep/lib -lrtmidi`
should be:
`LDFLAGS += -L"$(RACK_DIR)/dep/lib" -lrtmidi`

[2018-04-10 07:11] sebastien-bouffier commented on #418
I think I am not to far from the target ... curl is statically linked for Lin and Mac ... I do not know why I can not build the same way for Win but it works (I deployed my plugin on a win machine without any dev environment so without curl installed, and it works)

Last version information
Version: 0.6.1
Branch: master
Commit: 41bca78b33db03eaaec69861f2f5d56155e7368c

[2018-04-10 07:30] phdsg commented on #398
@AndrewBelt how to fix this? just update the repo-pointer?

[2018-04-10 12:37] bafonso commented on #443
I've now changed the code in v0.6 to the following:
[code]

[2018-04-10 17:57] antoniotuzzi opened #451 "NYSTHI"
{
  "name": "NYSTHI",
  "latestVersion": "0.6.2"
}

[2018-04-10 21:14] dizzisound commented on #443
@bafonso Thanks to @AndrewBelt for this, and I hope to see MPE back soon in Plugin Manager :-)

[2018-04-11 02:25] AScustomWorks commented on #393
Just curious, is there something still wrong? or maybe it just got forgotten?

[2018-04-11 02:45] AndrewBelt commented on #354
Pinging people for #393

[2018-04-11 03:07] dllmusic commented on #354
Yes...there was some mixed files with same name and different caps.. (sorry guys about this).. I cleaned them up, but kept the filename.
Should I give the files a brand new name to make things easier? ...

[2018-04-11 12:00] phdsg commented on #398
@mschack the repo is still around 150 megs.
i tested the guide andrew linked on a fork of your repo up to step 6.
after i removed `mscHack.zip` and `build/src/*.o` from the history, the forked repo's size is now around 5megs.

[2018-04-11 12:26] AndrewBelt commented on #354
@phdsg @mdemanett I've given you commit access so we can finally skip PRs.

Remember to acknowledge that you've "reviewed" the changes in the commit message if updating a submodule.

If someone would like to join the Review Team, send a PR, and if I accept it, I'll also give you commit access.

[2018-04-11 12:30] AndrewBelt commented on #352
@cschol @phdsg I've given you commit access so we can finally skip PRs.

If someone would like to join the Library Team, send a few correct PRs following the **Workflow** in the first post, and I'll also give you commit access.

[2018-04-11 12:50] phdsg commented on #354
does that mean we can work directly from a clone instead of the fork?

[2018-04-11 12:52] AndrewBelt commented on #354
Yup

[2018-04-11 13:02] phdsg commented on #354
nice, should we do our edits on branches or just directly to master?

[2018-04-11 13:09] AndrewBelt commented on #354
Directly to master would be easiest for you.

I'll occassionally review commits but mostly just trust that things are in order.

[2018-04-11 14:11] phdsg commented on #352
i suppose

is just to open an "invitation" at their repo and wait for them to open their channel on the community tracker?

[2018-04-11 14:59] AndrewBelt commented on #352
@phdsg Sure, you can open their plugin thread for them (and "@" their username!) Although, if a volunteer is capable of researching for new plugin information *and* can follow the Library workflow, it's perfectly fine to bypass the plugin thread entirely. There are plenty of plugins in `manifests/` without plugin threads that could use updating.

[2018-04-11 15:07] phdsg commented on #352
i probably won't add anybody's repo who doesn't request it.
inviting unlisted devs seems to be a perfect entry level task tho.

[2018-04-11 15:53] phdsg commented on #354
still not sure how to solve https://github.com/VCVRack/community/issues/398#issuecomment-378751846 and if adding the repo with `--depth=1` broke it or something else.

deleted my community fork and local clone of it, replaced it with a fresh clone from here.
all the modules check out ok.

[2018-04-11 19:28] phdsg commented on #353
the untracked content after a dist_all build made me look at the repos' .gitignores.
untracked content (usually a `/dist` or `/build` dir or a `plugin.dll`) only appears for submodules with _"incomplete"_ ` .gitignore` files in their repos.

i think it would be nice if everybody's repo had a .gitignore that includes the stuff created by using `make dist`.

[2018-04-11 22:50] mdemanett commented on #446
I forgot to link the PR here -- but this is ready to build.

[2018-04-12 05:51] AScustomWorks commented on #393
Just updated to AS to v0.6.1, with a new module addition and another module update:
[code]

[2018-04-12 08:48] AndrewBelt commented on #393
The Review Team still hasn't updated the repo to fix the libsamplerate build.

[2018-04-12 09:12] ValleyAudio commented on #407
"latestVersion" : "0.6.3"

[2018-04-12 14:53] alto777 commented on #446
**Thank you**, I see the progress. I was caught off guard by the offer of  a manual for my plugin, since it is only a dream at this time - someone on the community volunteers team added it to my manifest.

The link in the manifest leads only to "Not Found", which I interpreted as a subtle suggestion to get busy writing, but when I looked into it a bit, I determined that the link is incorrect, and

[2018-04-12 15:53] mdemanett commented on #446
That's my bad -- I saw the manual URL set in your src/LFSR.cpp and figured it should be in the manifest as well (one gets used on the plugin manager, the other by Rack itself) -- and it's typical to link the README as the manual if there isn't a real one -- but I didn't check the link and missed that it was invalid.

Anyway, fixed it!

[2018-04-12 16:17] alto777 commented on #446
Well, record it as _my_ bad - that thing in the LFSR.cpp no doubt got created when I global-changed the Template. I'll fix it and look for other things like that when I clean things up a bit.

No doubt there will be a number of pesky issues. I'll let them accumulate unless a show-stopper crops until advancing the version. Or can little things still be under 0.6.02? I've never dealt with any real v

[2018-04-12 17:32] phdsg commented on #393
did i not? thought at least the 0.6.0.2 was ready...
@AndrewBelt did it fail during pull or make? or did i miss something?

[2018-04-12 18:13] phdsg commented on #387
updated build

[2018-04-12 18:14] phdsg commented on #436
updated build

[2018-04-12 18:17] phdsg commented on #442
updated build

[2018-04-12 20:02] phdsg commented on #433
looks like the repo-pointer and the manifest are up-to-date.
@AndrewBelt build issues with this?

[2018-04-12 20:12] phdsg commented on #433
@baconpaul
ok, quick build check on windows vs Rack-SDK.
guess this...
[code]
prevents a successful update.

[2018-04-12 20:15] phdsg commented on #446
updated build.

[2018-04-12 21:30] baconpaul commented on #433
Wow thanks! Uint isn’t a standard type. Huh.

I’ll change to size_t and what not and let you know

  - Paul

On Apr 12, 2018, at 16:13, phdsg vn chfhn <notifications@github.com<mailto:notifications@github.com>> wrote:

@baconpaul<https://github.com/baconpaul>
ok, quick build check on windows vs Rack-SDK.
guess this...

g++ -Werror -Wsuggest-override -std=c++11  -DSLUG=BaconMusic -fPIC -I/h/devel/v

[2018-04-12 22:49] baconpaul commented on #433
Alright I replaced all my "uint" with "unsigned int" and it builds and works fine on my mac.

aba66e3469f2ade27cbb26d33efd9fd9395aaeec

on the revision branch

I'm working on 0.6.2 - will be a month or so. Before I ask for that I'll try and get a windows build environment running.

[2018-04-12 23:41] mdemanett commented on #433
Checked the builds, reviewed, updated the pointer to the release_v0.6.1 branch: good to go.

[2018-04-12 23:42] baconpaul commented on #433
Thanks! You guys rock. And sorry for the noise.

[2018-04-13 05:41] squinkylabs commented on #388
Hi, I've got a new module for the plugin manager.

Version: 0.6.2
branch: master
sha: e837d693c8a1db12cfa9687906da3739ecdde5e7

crossing my fingers this time - did a make dist on all three platforms.

thanks you!

[2018-04-13 07:17] phdsg commented on #352
also, could devs still close issues opened by one of the team members?

[2018-04-13 07:43] phdsg commented on #443
can't update the repo-pointer right now...
probably later today if no one else is faster.

[2018-04-13 07:52] phdsg commented on #443
@bafonso oh, now i see that you changed the `SLUG` from __Erratic__ (`master` branch) to __ErraticInstruments__ (`v0.6` branch).
this is a patch-breaking change, see...
https://vcvrack.com/manual/PluginDevelopmentTutorial.html under _Naming_.
please decide and let us know.

[2018-04-13 08:09] phdsg commented on #397
Updated build.

[2018-04-13 11:31] bafonso commented on #443
I'd like to use erraticInstruments going forward. Please ignore master for
now, use v0.6

On Fri, Apr 13, 2018, 03:52 phdsg vn chfhn, <notifications@github.com>
wrote:

[2018-04-13 16:43] AndrewBelt commented on #352
I haven't tested whether the issue OP can close an issue reopened by a collaborator, but I know that they can't reopen an issue closed by a collaborator.

[2018-04-13 18:42] phdsg commented on #443
@AndrewBelt what's the proper way to change the repo pointer? delete the old one and add a new one? just edit .gitmodules? or is there a fancy git command?

[2018-04-13 19:02] AndrewBelt commented on #443
Edit .modules and `git submodule sync`

[2018-04-14 05:56] dllmusic commented on #389
Thanks. closing until next update

[2018-04-14 20:52] bafonso commented on #443
Changed default branch to v0.6. Just a FYI if it makes things easier for you guys :)

[2018-04-14 23:27] AScustomWorks commented on #393
Made a small fix to BPM Clock module, latest version is now 0.6.2:
[code]

[2018-04-15 07:01] AScustomWorks commented on #393
One last update before the next PM build I hope, latest version is now [0.6.3](https://github.com/AScustomWorks/AS/):
[code]

[2018-04-15 10:51] phdsg commented on #443
@AndrewBelt that didn't work for me... now i removed the old one with `git submodule deinit` and `git rm` and then added the new one...

@bafonso
1. tried building vs Rack-SDK on windows. getting this error:

[code]
2. small v0.5 leftover that's deprecated now.
https://github.com/bafonso/Erratic/blob/v0.6/src/Erratic.cpp#L14-L15
see:
https://github.com/VCVRack/Rack/blob/master/include/plugin.hpp#L

[2018-04-15 10:53] koralfx commented on #436
- NEW VERSION: 0.6.8
- the new commit hash: f074262982d75883359cf3dccbd0702429b6a205
- branch: master

[2018-04-16 02:35] mdemanett commented on #393
Updated.  Checked the build -- works for me (on mac).

[2018-04-16 02:35] mdemanett commented on #436
Updated.

[2018-04-16 10:37] valerioo opened #455 "SonusModular"
[code]

[2018-04-16 14:46] ValleyAudio commented on #407
"latestVersion" : 0.6.3

Version  : 0.6.3
hash : a1a4e84ddf66e2aeab2ba9bee3f34f14bd09e509
branch : master

[2018-04-16 23:31] sebastien-bouffier commented on #418
LatestVersion: 0.6.2
Branch: master
Commit; f548eb304624b32446df09ddac43ac793b6fd2d7

[2018-04-17 00:02] mdemanett commented on #418
Updated.  I checked the build (on OSX); looks good to go.

[2018-04-17 07:13] sebastien-bouffier commented on #418
Hello, does it mean that my pack will be available thru Rack ? Do I have to provide a mac os x dist in my last release ?

[2018-04-17 11:35] dizzisound commented on #443
@bafonso Hi Bruno, for what it concerns the first point, it looks like the build infrastructure has changed, so with the new headless build against Rack-SDK I think you can get rid of the LDFLAGS specific assignment for the Windows platform. The SDK, for what I know, takes care to build and link the required dependencies, that in your case (_librtmidi_) is also a Rack dependency.

Following the ne

[2018-04-17 15:29] bafonso commented on #443
@phdsg let me know if you'd like me to temporarily make these changes on my repo or if you can simply test out the proposed changes.

[2018-04-17 17:30] MarcBoule commented on #356
I have added a new sequencer to my plugin and would like to request an update. The new version is 0.6.2, and the source corresponds to my current master at
https://github.com/MarcBoule/ImpromptuModular
My makefile was also updated to 0.6.2. Thanks!

[2018-04-17 17:43] david-c14 opened #456 "SubmarineFree"
Slug: SubmarineFree
Version: 0.6.1
Source repository: https://github.com/david-c14/SubmarineFree.git
Commit: 5c4f6985d74178be885f749cde0c4ac27ecfeeed
Tag: v0.6.1
License: GPL-3
Author: carbon14
Website: https://github.com/david-c14/SubmarineFree
Manual: https://github.com/david-c14/SubmarineFree/blob/master/manual/index.md

[2018-04-17 17:46] david-c14 opened #457 "SubmarinePrototype"
Slug: SubmarinePrototype
Version: 0.6.0
Source repository: https://github.com/david-c14/submarine-prototype-vcv.git
Commit: 32365b0eea13431692e28cbc46db8048481c63e6
Tag: 0.6.0
License: Proprietary
Author: carbon14
Website: https://github.com/david-c14/submarine-prototype-vcv
Manual: https://github.com/david-c14/submarine-prototype-vcv/blob/master/manual/index.md

[2018-04-17 19:58] phdsg commented on #443
@dizzisound @bafonso confirming suggested change fixes the build error.

[2018-04-17 20:34] bafonso commented on #443
ok, I've removed that bit of code

[2018-04-17 22:42] phdsg commented on #354
@AndrewBelt on the _TODO_ thing in the OP:
not sure if there's a shortcut but i do:
* before updating the repo:
`git submodule status <submodule>` to get the current commit hash
* and then in the submodule's repo after pulling the updates:
`git diff <commit> HEAD`

[2018-04-17 22:48] mdemanett commented on #418
Andrew's build system will build for each platform, and those builds will go out via the package manager.  You shouldn't have to do anything more to for that to happen.

[2018-04-17 22:56] sebastien-bouffier commented on #418
Ok thanks

[2018-04-18 05:45] AndrewBelt commented on #441
Removing from `repos/` since these libraries are not available.

[2018-04-18 06:00] AndrewBelt commented on #418
The `./configure` step for the mingw cross compile step doesn't work, so I'm removing this from `repos/`

[2018-04-18 06:04] AndrewBelt commented on #398
The `./configure` step for libsamplerate with mingw cross-compile from Linux doesn't work, so I'm removing this from `repos/`

[2018-04-18 06:12] AndrewBelt commented on #436
Updated build.

[2018-04-18 06:12] AndrewBelt commented on #455
Updated build.

[2018-04-18 06:12] AndrewBelt commented on #407
Updated build.

[2018-04-18 07:09] sebastien-bouffier commented on #418
Ok. Do you have kept the error message so I can try to fix it ?

[2018-04-18 08:25] phdsg commented on #393
@AndrewBelt looks like this wasn't this updated in the last cycle. still something wrong?

[2018-04-18 08:29] phdsg commented on #433
updated build.

[2018-04-18 08:42] phdsg commented on #443
@AndrewBelt what did i miss, that this wasn't included in the latest run?

[2018-04-18 10:58] Strum opened #458 "Mental"
Mental modules community thread

[2018-04-18 11:10] Strum commented on #458
Mental Modules
By Strum
strum@softhome.net
Version 0.6.0
License BSD 3
Code : https://github.com/Strum/Strums_Mental_VCV_Modules
Manual (work in progress) : https://github.com/Strum/Strums_Mental_VCV_Modules/wiki

[2018-04-18 12:16] MarcBoule commented on #356
Thanks!

[2018-04-18 15:11] AScustomWorks commented on #393
Indeed, v0.63 still not available on the plugin manager. Do I need to change something?

[2018-04-18 17:05] AndrewBelt commented on #393
libsamplerate can't build on a mingw cross compiler on Linux, because the `./configure` step needs to execute built binaries. A fix is to adopt the libsamplerate .cpp files into your own build system and not use the autoconf scripts.

[2018-04-18 17:11] mschack commented on #398
Is this something I did?

[2018-04-18 17:12] AndrewBelt commented on #443
Updated build.

[2018-04-18 17:12] AndrewBelt commented on #388
Updated build.

[2018-04-18 17:14] AndrewBelt commented on #418
I don't have it anymore, but the reason is clear. autoconf for some reason always has tons of tests that it runs before building the Makefile. This makes it impossible to make cross-builds from a different operating system that can't execute the binaries it's building.

[2018-04-18 17:18] AndrewBelt commented on #398
Same reason as https://github.com/VCVRack/community/issues/418#issuecomment-382461744

[2018-04-18 17:59] sebastien-bouffier commented on #418
Ok thanks for all those informations

[2018-04-18 18:50] mschack commented on #398
Well I don't think I actually need the libsamplerate stuff, if I remove it would that solve the issue?

[2018-04-18 18:57] phdsg commented on #398
yes, if you don't use it anymore, remove it.

[2018-04-18 19:00] mschack commented on #398
ok, thanks.

[2018-04-18 19:50] imekon opened #459 "PG Instruments"
Slug: PG-Instruments
Version: 0.6.0
Source repository: https://github.com/imekon/PG-Instruments.git
Commit: 5f88dea26b6a9697727305b99e7f4402e3369c6f
License: MIT
Author: Pete Goodwin
Website: https://github.com/imekon/PG-Instruments

[2018-04-18 19:52] AndrewBelt commented on #459
See License section of https://github.com/VCVRack/Fundamental#license. You need to design your own SEQ-3 panel from scratch.

[2018-04-18 21:10] imekon commented on #459
I've updated the SEQ-3 panel.

[2018-04-18 22:51] AndrewBelt commented on #459
Thanks! Looks good

[2018-04-19 00:25] AScustomWorks commented on #393
Thanks Andrew,  got rid of libsamplerate and using rack's own samplerate.hpp now so this issue should be resolved finally ;)

latest version is now [0.6.4](https://github.com/AScustomWorks/AS/):
[code]

[2018-04-19 07:38] phdsg commented on #459
@imekon one more small thing:
LICENSE.txt in your repo is a CC license, not MIT.

[2018-04-19 08:00] imekon commented on #459
My bad.

License: CC0 1.0 Universal

[2018-04-19 18:39] mschack commented on #398
ok updated with a new makefile.

[2018-04-20 17:55] imekon commented on #459
Updated 0.6.1

Added a few more plugins - panning and filter

[2018-04-21 22:42] david-c14 commented on #456
Licence is incorrect. This plugin is BSD 3.

[2018-04-23 04:57] AScustomWorks commented on #393
Now updated to [v.0.6.5](https://github.com/AScustomWorks/AS/)

[2018-04-23 18:34] phdsg commented on #269
IO-simple has merged changes for 0.6 compatibility.
i haven't had the time to try it yet.
if this builds on all 3 platforms we can cross another one from the list and update the manifest and submodule.
:)
@cschol still here?

[2018-04-24 04:34] cschol commented on #269
@phdsg Yeah, sorry, work/life gets in the way right now. :) I updated the list and crossed off `IO-simple`.

[2018-04-24 04:50] mdemanett commented on #396
New modules.

Version: 0.6.6
Hash: f8e617fc760a89c30d29632d7d7fc205215e64cc

@AndrewBelt is it cool if we who are on the review team update ourselves, or should we keep it legit and wait for another on the team to do it?  If the latter, @phdsg would you do me the honor?

[2018-04-24 05:08] AndrewBelt commented on #396
@mdemanett Yeah, another Review Team member should review it.
You can update your own information though (be your own Library team).

[2018-04-24 05:45] AndrewBelt commented on #352
I've been informed that many versions are incorrect (e.g. < 0.6) on https://vcvrack.com/plugins.html for plugins not available in the build system.

So, if `"status"` is *not* `"available"`, you are free to set `"latestVersion"`.

[2018-04-25 05:40] AndrewBelt commented on #458
@mdemanett You've mistakenly set "latestVersion", instead of repoVersion. Reverted your commit.

[2018-04-25 06:45] Strum commented on #458
@AndrewBelt,

What happened there?

Is there something I need to change?

I realised I'd forgotten to add some graphics to the res folder, though git added them automatically, updated hour or so ago, should all be there now.

[2018-04-25 09:24] unlessgames opened #460 "unless_modules"
{
  "name": "unless modules",
  "author": "unless games",
  "license": "BSD-3-Clause",
  "authorEmail": "unlessgames@gmail.com",
  "pluginUrl": "https://gitlab.com/unlessgames/unless_modules",
  "authorUrl": "http://unlessgames.com",
  "manualUrl": "https://gitlab.com/unlessgames/unless_modules/blob/master/README.md",
  "sourceUrl": "https://gitlab.com/unlessgames/unless_modules",
  "latestVersion

[2018-04-25 10:14] phdsg commented on #460
@unlessgames nice module ;)
entry here needs a little fix tho.
license says BSD-3-Clause,
https://gitlab.com/unlessgames/unless_modules/blob/master/LICENSE.txt says it's MIT.

[2018-04-25 10:36] unlessgames commented on #460
thank you!
it should be fixed now..

[2018-04-25 11:10] phdsg commented on #393
Updated build.

[2018-04-25 11:10] phdsg commented on #459
Updated build.

[2018-04-25 11:11] phdsg commented on #456
Updated build.

[2018-04-25 11:12] phdsg commented on #398
all fine now.
Updated build.

[2018-04-25 11:25] phdsg commented on #396
@mdemanett oh damn, missed that mention. top of the list now. probably later today.

[2018-04-25 11:35] unlessgames commented on #460
but then isn't the LICENSE.txt in the Fundamental plugin contains MIT text while the plugin said to be under BSD? I've been copying that file iirc.
sry if I'm just being confused.

[2018-04-25 11:37] AndrewBelt commented on #460
You can license your code however you want. We just needed to verify the conflicting information between your post and your LICENSE.txt file.

[2018-04-25 11:38] antoniotuzzi commented on #451
great ! :)

[2018-04-25 11:39] phdsg commented on #460
i've added it with the commit after you changed it to BSD-3-Clause in your repo, so all fine i think.

[2018-04-25 13:15] unlessgames commented on #460
thanks all for such fast progress!

[2018-04-25 13:41] phdsg commented on #458
@mdemanett let's pause here before a new try.
i recommended to Strum to purge his git history from old zips and stuff (~100mb).

[2018-04-25 14:16] Strum commented on #458
@mdemanett
@phdsg

Sorted, should be ready to go.

[2018-04-25 15:51] phdsg commented on #353
@AndrewBelt can you describe the details of the pull -> build procedure a little bit?
i.e. what git commands do you use before launching the build script.
i'd like to be able to reproduce and then fix the fetching errors we had a few times now, so only actual build errors can block the process.

[2018-04-25 16:14] phdsg commented on #458
had a bit of a struggle with the changed history and syncing/fetching and then broke the repo for a few minutes, but i think it's fixed now.

[2018-04-25 16:45] phdsg commented on #457
@AndrewBelt i was just about to post that `make dist` would fail without a LICENSE file, but it seems that's not the case anymore!?

[2018-04-25 17:34] phdsg commented on #352
did a few of them...

it'd be cool to find a way to make more people participate here instead of going to places like [this](http://www.switchedonrack.com/plugins-currently-not-in-the-plugin-manager.html) or on fb

[2018-04-25 18:11] AndrewBelt commented on #352
@phdsg Should I make a quick post on the Facebook user group to request 2-3 more Library Team members?

[2018-04-25 18:13] AndrewBelt commented on #457
The build will fail if the Makefile adds particular files to `DISTRIBUTABLES` which don't exist. But in https://github.com/david-c14/submarine-prototype-vcv/blob/master/Makefile#L21, the wildcard will match zero files and return an empty string, so it doesn't cause a problem.

[2018-04-25 18:14] AndrewBelt commented on #353
I start the Docker daemon if it isn't running already and use `git pull`, `git submodule update --init --recursive`, and then `python scripts/build_updates.py`.

[2018-04-25 18:57] david-c14 commented on #456
Plugin updated 25th April - 6 new devices

Slug: SubmarineFree
Version: 0.6.2
Source repository: https://github.com/david-c14/SubmarineFree.git
Commit: 83e92a672052da52719b71d441a42a6383f8d4ed
Tag: v0.6.2
License: BSD-3
Author: carbon14
Website: https://github.com/david-c14/SubmarineFree
Manual: https://github.com/david-c14/SubmarineFree/blob/master/manual/index.md

[2018-04-25 19:39] MarcBoule commented on #356
Major redesign of Phrase-Seq-16, and would like to request an update please.
The new version is 0.6.3, and the source corresponds to my current master at
https://github.com/MarcBoule/ImpromptuModular
My makefile was also updated to 0.6.3. Thanks!

[2018-04-25 22:55] mdemanett commented on #458
Sorry about that...@phdsg thanks for fixing!

[2018-04-25 22:56] mdemanett commented on #396
Thanks!

[2018-04-26 01:02] mschack commented on #398
Thanks all!

[2018-04-26 04:25] squinkylabs commented on #388
Oh boy - our third module!

version 0.6.3
sha: 62f0c3e5d8568bec3758300d56d856d6923a4ac7

as always -thanks!

[2018-04-26 09:53] phdsg commented on #460
Updated build.
please close this issue until there's a new update.

[2018-04-26 09:54] phdsg commented on #458
Updated build.

[2018-04-26 09:57] phdsg commented on #457
@david-c14 not that it matters much, but are all those unused svgs meant to be part of the package?

[2018-04-26 11:06] david-c14 commented on #457
@phdsg Is there a good way to exclude them from the dist?

It really doesn't matter much, but I am hoping to start another module in there soon, so I can certainly try to tidy up before my next release.

[2018-04-26 17:26] Strum commented on #458
I'm really sorry guys but I made a cock up with one of the background graphics and had to rescale it.

It's the MedKnob.svg in /res/components, no changes to the code you can just overwrite that file without rebuild the .dll

Sorry again, I'll test more thoroughly in future.

Cheers

[2018-04-26 18:40] phdsg commented on #380
i'm a bit puzzled here...
the manifests for the open source plugins point to defunct repos.
@antoniograzioli any plans to fix this or are you distributing exclusively on your website?

[2018-04-27 05:12] almostEric commented on #387
latest Version: 0.6.5
commit hash:  e2d2729f23279c84d18b70ac50072c67dd41325a
branch: Master

[2018-04-27 18:14] phdsg commented on #356
Updated build.

[2018-04-27 18:15] phdsg commented on #456
Update build.

[2018-04-27 18:15] phdsg commented on #388
Updated build.

[2018-04-27 18:25] almostEric commented on #387
Yes. Need some more work before ready to release

From: phdsg vn chfhn <notifications@github.com>
Sent: Friday, April 27, 2018 11:21 AM
To: VCVRack/community <community@noreply.github.com>
Cc: Eric Sterling <eric@digitalpour.com>; Mention <mention@noreply.github.com>
Subject: Re: [VCVRack/community] Frozen Wasteland (#387)

@almostEric <https://github.com/almostEric>
got email earlier with a reque

[2018-04-27 18:37] phdsg commented on #387
alright. for a moment i thought my browser was acting out. :)

[2018-04-27 18:45] MarcBoule commented on #356
Thanks!

[2018-04-27 20:46] almostEric commented on #387
latestVersion 0.6.5
commit hash:  e9e97e76d6ce044de1020f402b3e89fa1db881a3
branch: master

[2018-04-28 00:34] AScustomWorks commented on #393
New module and couple of modifications on two modules. Now updated to [v0.6.6](https://github.com/AScustomWorks/AS)

[2018-04-28 04:32] DomiKamu commented on #391
Reopened for v0.6.4 as updated plugin (April 28th) - Thanks in advance.

[2018-04-28 10:00] The-XOR commented on #397
New version: 0.6.15
branch: master
git rev-parse HEAD: 0dc5dc25bb264f6d52d20a14a80c6db791487603

[2018-04-28 10:25] phdsg commented on #397
@The-XOR assuming this is meant as a half step towards 0.6.2.
@AndrewBelt may correct me here but i think it's actually stepping forward to "fifteen".

[2018-04-28 13:40] cschol commented on #269
@phdsg Is Nohmad just waiting for a build or is there anything else wrong with the plugin?

[2018-04-28 17:28] cschol commented on #269
Ah, I see. Sorry, been trying to catch up here. Thanks.

[2018-04-29 18:30] apbianco opened #461 "SerialRacker"
Tracker for SerialRacker modules (MidiMux and hopefully others.)

[2018-04-29 18:36] apbianco commented on #461
Plugin information for the SerialRacker modules, currently featuring only one module: MidiMux.

 - apbianco@gmail.com
 - License: MIT License
 - https://github.com/apbianco/SerialRacker

[2018-04-30 05:15] AndrewBelt commented on #387
Updated builds

[2018-04-30 05:15] AndrewBelt commented on #393
Updated builds

[2018-04-30 05:16] AndrewBelt commented on #391
Updated builds

[2018-04-30 05:16] AndrewBelt commented on #397
Updated builds

[2018-04-30 05:16] AndrewBelt commented on #458
Updated builds

[2018-04-30 06:26] Strum commented on #458
@AndrewBelt , thanks Andrew, sorry again, I am slowing learning though
:)

[2018-04-30 17:18] koralfx commented on #436
- NEW VERSION: 0.6.9
- the new commit hash: 4775be2c6b5d454cdb80de6dcaca8902d3473622
- branch: master

[2018-05-01 16:38] sebastien-bouffier commented on #418
Hello, to keep you informed, I tried to include mpg123 but I failed, it is over my skills for the moment. I tried with libmad ... I failed too :) I tried minimp3 which is a single header decoder but I did not manage to go away from artifacts etc ... So ... I give up that project for the moment. Maybe when I will have more time I will try again.
I pushed some new features on dTrOY so I am in 0.6.3

[2018-05-01 20:04] apbianco commented on #461
Thank you @mdemanett. I have a new version:

- v0.6.1
- commit f76ee2af244a432e5cfe2367e54f8dd285e3b750
- BRANCH=master

Thank you.

[2018-05-01 22:42] mdemanett commented on #461
Updated.

By the way: you don't need to check your "make dist" builds (the .zip files) into git -- instead you can distribute them on the Releases section of your github.  Or just wait -- since you're set up here, Andrew's scripts will make builds for the package manager, when next he runs them.

[2018-05-02 06:14] apbianco commented on #461
OK - so you still need the notification of version/branch and the commit hash but for the code change only, correct?

[2018-05-02 11:27] WIZARDISHUNGRY opened #462 "PulsumQuadratum-SDR"
This plugin is open source, but needs a bit of build massaging right now; so we'd ask to provide the builds for now.

[2018-05-02 11:30] WIZARDISHUNGRY commented on #462
Version: 0.6.0

https://github.com/bongozone/vcvrack-rtlsdr/files/1966761/PulsumQuadratum-SDR-0.6.0-win.zip
https://github.com/bongozone/vcvrack-rtlsdr/releases/download/v0.6.0/PulsumQuadratum-SDR-0.6.0-mac.zip

I'm unclear if I should bother submitting a pull request to update URLs, etc. in the manifest.

[2018-05-02 22:50] mdemanett commented on #461
That's right.

[2018-05-03 08:29] phdsg commented on #461
@apbianco
as @mdemanett said it's generally not a good idea to put large binaries into your repo.
it'll bloat your repo's size in no time due to the way git records history.
we had some cases here with repo sizes of over 100mb where the actual volume of code is only about 5mb. the rest was just old zips and dlls from past commits.
please remove them and use the release feature as already suggested

[2018-05-03 10:47] apbianco commented on #461
Done.

[2018-05-03 16:59] mgoin opened #463 "Add Wiki page for Contribution Guide"
When looking on how to make my own Rack plugin, I couldn't find a contributor guideline in the wiki. This is a commonplace resource in most open-source projects, especially ones that explicitly encourage community participation. I believe it would be worthwhile to add some sort of concrete guide to start people off.

I found a link to [this issue](https://github.com/VCVRack/community/issues/248) i

[2018-05-03 22:01] alto777 commented on #446
Okay, I think this is fixed. I made changes online, but checkout gave me unchanged files (?), finally just made a new version.

NEW VERSION 0.6.21 at https://github.com/alto777/LFSR
commit 00cfcf740cc079d6faa7f6230b3f46c0e4ff8767
branch v0.6.21

{
"name": "alto777 LFSR",
"author": "Robert A Moeser",
"authorEmail": "ram32768@gmail.com",
"license": "BSD-3-Clause",
"sourceUrl": "https://github.com/al

[2018-05-03 22:24] AndrewBelt commented on #463
Actually I should probably disable the wiki feature on this repo. If you'd like to contribute, join a team at https://github.com/VCVRack/community/issues/352, https://github.com/VCVRack/community/issues/354, or https://github.com/VCVRack/community/issues/269.

[2018-05-04 22:55] AndrewBelt commented on #461
Build failed because I can't cross-compile libsamplerate with Docker.

[2018-05-05 02:30] alto777 commented on #446
Thank you tireless community workers, @mdemanett!

I got my own stuff using the plugin manager, it's all there. The manual link is incorrect, I tested

https://github.com/alto777/LFSR/blob/v0.6.21/README.md

which is in my manifest posted above but not the manifest in rack/community/manifests, I am guessing this is still a hand-control op that got missed.

And I would change the default branch of

[2018-05-05 02:48] AndrewBelt commented on #446
In the future, it's better to state what changes you want in English. We don't take the JSON manifest directly from developers in these request threads. We have to scan for changes against the existing manifest if developers dump the raw JSON, which is an additional step.

[2018-05-05 03:09] alto777 commented on #446
Thank you, will comply.

TBH I'm not sure what I am doing with all those branches either. I have to stop and figure out git for real. Git/github seems to be without my grasp ATM.

[2018-05-05 13:42] MarcBoule commented on #356
Hi, could the following dontation link be added in `ImpromptuModular.json` please:
```"donateUrl": "https://www.paypal.me/marcboule",```
Thank you!

[2018-05-05 14:35] RODENTCAT opened #464 "RODENTMODULES"
Am I doing this right ?

{
  "name": "RODENTMODULES",
  "author": "RODENTCAT",
  "license": "CC0-1.0",
  "sourceUrl": "https://github.com/RODENTCAT/RODENTMODULES",
  "latestVersion": "0.6.0"
}

[2018-05-05 21:06] mdemanett commented on #461
@apbianco Does your plugin actually use libsamplerate?  If not you can just remove the relevant lines from your Makefile.  Then Andrew's system should be able to build it.

[2018-05-05 21:19] mdemanett commented on #464
Almost - please bump your Makefile VERSION to 0.6.1.  Your manifest already has latestVersion 0.6.0, so need a new version number to trigger the build.

[2018-05-06 12:57] david-c14 commented on #456
Plugin updated 6th May - 2 new devices; improvements to LA-108
Please note that the author name should be carbon14 - it is currently out of date in the plugin manager.
Thank you.

Slug: SubmarineFree
Version: 0.6.3
Source repository: https://github.com/david-c14/SubmarineFree.git
Commit: ac5713cb5f76bed0dc92235e9e94f8f771508593
Tag: v0.6.3
License: BSD-3
Author: carbon14
Website: https://github.co